[2022-03-01 11:21] TimoGlastra opened #653 "Support new shared components as an alternative to the indy-sdk"
Includes support for

- [ ] Indy VDR
- [ ] Indy CredX
- [ ] Aries Askar

[2022-03-01 11:25] TimoGlastra commented on #382
Fixed in #592

[2022-03-01 11:25] #382 closed

[2022-03-01 11:27] TimoGlastra commented on #357
Fixed in #592

[2022-03-01 11:27] #357 closed

[2022-03-02 18:56] jleach opened #654 "Update initialization params to better reflect required data"
The Agent initialization seems take in a URL even though only the `c_i` parameter is needed. It would be more clear and succinct if it accepted a base64 encoded invitation. In the example below the MEDIATOR_URL is not needed, only the `c_i` param. This may lead to confusion as people will/can update the URL portion and it will have no impact on how the Agent is initialized.

[code]

[2022-03-03 07:38] TimoGlastra commented on #654
Maybe we can look at documenting this better, but I'm hesitant to accept an invitation string without the URL part. Accepting an object in addition to the url would also be fine to me. Two reasons for not wanting to accept an invitation string without the url part:

- The full url is the official format as described in the connections RFC (0160) and can be used to encode into QR. Moving away from

[2022-03-03 10:47] #582 closed, assigned to nobody

[2022-03-10 09:20] #175 closed

[2022-03-10 09:49] niallshaw-absa opened #662 "ReferenceError: Can't find variable: TextDecoder"
Unable to initialize agent.

Using latest @aries-framework/core and @aries-framework/react-native version 0.2.0-alpha.31 (for key derivation method config)

For use in react native

[2022-03-10 12:43] jakubkoci opened #664 "Error handling of received message"
Currently, the AFJ agent receives messages in the background via `receiveMessage`. I'm curious how we should handle errors thrown by this method.

For example, when we're making a connection from AFJ to Trinsic, Trinsic sends JSON containing error without any `@type` attribute, therefore it fails because AFJ tries to decrypt it as an encrypted message. We can of course fix that by checking if JSON

[2022-03-10 16:06] vk1992op opened #667 "[SOLVED] Error: libindy.so: cannot open shared object file: No such file or directory"
Following this [walk-through](https://github.com/hyperledger/aries-framework-javascript/blob/main/docs/libindy/linux.md) led me to the error:

[code]

This showed up by running:
[code]

EDIT: Solved by
[code]

[2022-03-10 17:07] TimoGlastra commented on #667
Is this on macOS or Linux?

[2022-03-11 10:17] vk1992op commented on #667
Linux, Debian (Kali)

[2022-03-11 11:11] TimoGlastra commented on #662
Which version of react-native are you using? Are you using hermes? Is this in Android or iOS?

[2022-03-11 11:37] TimoGlastra opened #668 "Add option to hold incoming connections for longer than processing the message"
When building an agent that interacts with other agents that don't have an endpoint (lets say you're a mediator), you can communicate with the other agent by using the inbound transport as a return route.

When we have auto accept for mediation requests enabled, and also auto accept for connections enabled this works pretty well. The response is created when we receive the message (e.g. we send th

[2022-03-13 20:37] MosCD3 opened #671 "Adding the ability to rotate wallet key"
Reference to the conversation here #652
I am working on adding a function to AFJ that will allow rotating key as part of security module work on Bifold or any other implementation wallet

[2022-03-13 20:41] MosCD3 commented on #671
Created a PR to reflect new attribute in type definition
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/59256

[2022-03-14 04:32] MosCD3 opened #673 "Property 'TextDecoder' doesn't exist"
I am getting this message occasionally using the latest AFJ '[v0.2.0-alpha.34 ](https://github.com/hyperledger/aries-framework-javascript/releases/tag/v0.2.0-alpha.34)

Either when receiving a message from the mediator or from the issuer

DEBUG: Response received {
	"responseMessage": "{\"protected\":\"eyJlbmMiOiJ4Y2hhY2hhMjBwb2x5MTMwNV9pZXRmIiwidHlwIjoiSldNLzEuMCIsImFsZyI6IkF1dGhjcnlwdCIsInJlY2lw

[2022-03-14 13:46] swcurran commented on #668
@TimoGlastra -- it seems to me that this would be an issue for ACA-Py as well.  Correct?  Should we be doing the same thing?

[2022-03-14 15:07] TimoGlastra commented on #668
Yes this is also an issue in ACA-Py, had to enable auto-accept as well to be able to interact with agents without an endpoint

[2022-03-14 15:12] TimoGlastra commented on #667
Do you have any idea what could cause this issue @blu3beri? Should we add the command (`sudo /sbin/ldconfig -v`) to the troubleshooting section?

[2022-03-14 15:13] TimoGlastra commented on #654
I'm going to close this issue, please reopen or comment on this issue if anyone thinks we should change this.

[2022-03-14 15:25] blu3beri commented on #667
ldconfig -v just does ldconfig in `verbose` mode. This is extremely unlikely to be the fix. Maybe reloading the shell fixed it. I've checked the guide and this error means that it could not find `Libindy.so` in the common folders (`/usr/local/lib`, `usr/lib`, etc).

[2022-03-14 15:39] TimoGlastra commented on #667
Ok, closing this for now. Can take another look if other people have the same issue

[2022-03-14 15:39] #667 closed

[2022-03-14 16:03] genaris commented on #668
I don't think it is strictly needed to require both `autoAcceptConnection` and `autoAcceptMediationRequests` enabled, as it is possible to queue responses to  InMemoryMessageRepository and then the client can retrieve it by polling (e.g. using explicit pick-up messaging). Currently, this flow using AFJ for both mediator/mediatee roles works in WebSocket (as you said, the session is not closed) and

[2022-03-15 19:29] #673 closed

[2022-03-15 19:29] #662 closed

[2022-03-21 17:59] TimoGlastra commented on #376
Also good to look at adding these tsconfig rules:

[code]

[2022-03-21 18:57] blu3beri commented on #376
Yeah 100%. I think after merging issue cred v2 and present proof v2 we can add the require type checking.

Afterwards in seperate PRs we can add every rule in 1 PR, or combined if not a lot changes, to keep PRs small and concise.

[2022-03-21 21:04] blu3beri commented on #376
Why do we want to allow unreachable code by the way? (The last rule)

[2022-03-21 21:09] TimoGlastra commented on #376
It's set to `false 😉

[2022-03-22 07:44] blu3beri commented on #376
Ah I see... every other rule there is enabled, or disallows something, when set to true haha

[2022-03-25 08:41] standlove commented on #599
We are still experience this ...

Is there any workaround for this?  e.g. send a new request to get the updates?

@TimoGlastra  Thanks

[2022-03-25 08:45] TimoGlastra commented on #599
Can you create a repo that reproduces this issue?

[2022-03-25 08:49] standlove commented on #599
This cannot be reproduced consistently, it only happens intermittently ...

 @TimoGlastra

[2022-03-25 13:43] TimoGlastra commented on #599
If you reopen the application, will it be able to finish the connection afterwards? Is it a connection issue with the mediator, or are the actually messages getting lost?

[2022-03-25 13:46] jakubkoci opened #681 "MessageValidator does not throw an instance of Error"
I found out when we call:
[code]

It doesn't throw instance of Error but its own `ValidationError` object. JS allows throwing anything (string, object, whatever). It causes a problem in tests when we're expecting an error to be thrown, it doesn't throw.

[code]

In general, it's considered bad practice in JS and it's recommended to throw `Error` or an instance of `Error`.

It's not a big issue but

[2022-03-25 13:53] standlove commented on #599
That particular connection stays in connecting state even after re-open the application.

Looks the websocket connection is fine, as I still see many messages sent and received successfully. It's likely the message is lost ... but how does this happen? and what to do in this case?

Thanks.

@TimoGlastra

[2022-03-26 12:24] TimoGlastra commented on #681
Yeah probably should wrap it if it's not throwing an actual error...

Good find 👍

[2022-03-28 10:04] #490 closed, assigned to nobody

[2022-03-29 07:24] MosCD3 opened #685 "Adding non wallet related records to the wallet (Non-secret)"
This is an enhancement ticket to be as a reference for my work on adding the ability to use indy non-secret APIs to add custom wallet records.

Plan
- Create module 'NonSecret'
- Module will handle adding and retrieving custom records to the designated wallet using 'Indy.Framework -> addRecordInWallet(..)'

Work will start soon
Suggestions are welcomed along the way

[2022-03-29 18:46] JamesKEbert commented on #647
We unfortunately got pulled to other work so we have not identified the issue here yet--but I can add this as an item to work on here soon. One of the issues we were running into is having difficulty extracting the logs from the device (as the iOS Release makes this challenging). If there's any recommendations on how to do so I'm all ears. :)

[2022-04-01 09:46] standlove opened #693 "Present revoked credential and it shows as verified successfully"
Hi,

When using 0.1.0, we can present revoked credential to the proof request, and it shows as verification succeeded too. While it should show as verification failed. (like in trinsic app)

Is this feature supported in the current version?

Thanks.

[2022-04-01 12:03] TimoGlastra commented on #693
Hi @standlove, revocation support has only been added since version [v0.2.0-alpha.20](https://github.com/hyperledger/aries-framework-javascript/releases/tag/v0.2.0-alpha.20). Could you try to use the alpha version of AFJ and see if this issue still persists?

I would have guessed it would blow up if receiving a revocable cred before that release but it seems it just silently ignores it.

[2022-04-02 00:35] standlove commented on #693
Hi,  @TimoGlastra

Yes, I tried [v0.2.0-alpha.39](https://github.com/hyperledger/aries-framework-javascript/releases/tag/v0.2.0-alpha.39) too, and in this version, the revoked credential won't be matched to the proof request. Is it the expected behavior?

While in the trinsic app, the revoked credential is matched.  Thanks.

[2022-04-02 08:04] TimoGlastra commented on #693
Yes, by default this parameter is set to true: https://github.com/hyperledger/aries-framework-javascript/blob/main/packages/core/src/modules/proofs/ProofsModule.ts#L485

If you don't use auto accept you can pass this parameter to the `getRequestedCredentialsForProofRequest` method

[2022-04-02 13:09] standlove opened #694 "Got error after accepting connectionless credential offer from trinsic"
Hi,

After accepting the connectionless credential offer from trinsic, we are getting this error:
[code]

We are using v0.1.0, is it a bug in ariesframework?

Thanks.

[2022-04-04 07:14] sheraliinamdar commented on #693
Hi @TimoGlastra ,
  any guess when this 0.2.0 AFJ stable version is getting released ?

[2022-04-04 18:12] brianorwhatever opened #696 "Why is python required?"
In this doc it mentions python. What is this used for? It would be good to remove that dependency if it isn't something too tightly integrated as this is a javascript project..

https://github.com/hyperledger/aries-framework-javascript/blob/main/docs/setup-nodejs.md

[2022-04-04 18:40] TimoGlastra commented on #693
I hope soon. There's still some PRs to be merged, but once merged we'll make the release ASAP.

See here for the overview of outstanding tasks for the 0.2.0 release: https://github.com/hyperledger/aries-framework-javascript/discussions/622

[2022-04-04 19:03] brianorwhatever commented on #696
oh interesting, I didn't know python was a node-gyp dependency. Thanks Timo.

That seems like a pretty important dependency at this stage then. Feel free to close this unless you want to keep it around for once those shared components are merged in **and** they don't have a node-gyp dep

[2022-04-04 19:03] blu3beri commented on #696
I am 99% node-Gyp is not required anymore with node-api. We still have to find the best way to deal with the binaries, e.g. bundling having them locally, etc.

[2022-04-05 07:51] jakubkoci opened #697 "Make PublicKey type property static"
Shouldn't the `type` property of `PublicKey` child classes be` static`?

Some places require `PublicKey` `type` as a parameter. It would be convenient to use this property without having an instance of a class.

For example, the `Ed25119Sig2018` class contains:

[code]

When I'm creating an instance of `ReferencedAuthentication`, it requires type as second parameter:
[code]

Another option could b

[2022-04-06 07:29] TimoGlastra commented on #697
The problem with it being a static property is that we also need it as an instance property. So we would get the same as we have now with message classes where we have a static `type` and an instance `type`. The instance `type` value is the value of the static `type` so you don't have to declare the value twice. Maybe something like that would work?

However I have to say the implementation of the

[2022-04-06 13:08] karimStekelenburg commented on #697
@TimoGlastra, just to verify. Is there overlap between the signature suite implementations mentioned here and the ones I'm working on for the jsonld work?

[2022-04-07 11:09] sairanjitAW commented on #553
Hi @TimoGlastra I am working on adding a support for postgres

[2022-04-07 14:11] TimoGlastra commented on #553
That's great @sairanjitAW!

[2022-04-07 14:21] swcurran commented on #553
Not that I want to discourage any efforts in building the platform, but is this a good use of time?  This implies using AFJ on the server-side. AFAIK there is a fair amount still to add to AFJ to make it useful/scalable for operation on a server platform.  Is there a reason not to push that effort into ACA-Py for server-side uses and focus AFJ efforts towards mobile functionality?

[2022-04-07 15:48] TimoGlastra opened #701 "Download tails file at issuance time"
From a comment in the discord:

We should download the tails fail at issuance time and store it alongside the wallet. Only if there's no local copy of the tails file should we fallback to downloading it from the tails server at proving time.

Note: Currently the filesystem uses the tmp path on both iOS/Android and in Node. We should add a path that provides support for more longer term storage cap

[2022-04-07 16:16] swcurran commented on #553
Sounds good!  Happy with that answer.  :-)

[2022-04-07 17:17] genaris commented on #553
+1 to Timo's words. For small teams it could be very beneficial to be able to share the same code base and use a single language/toolchain, especially when implementing custom features such as specific protocols over DIDComm. Also I like the 'framework' approach in terms that `Agent` class can be easily embedded within an existing application instead of using a separate module for handling Aries s

[2022-04-08 07:39] standlove commented on #599
Hi, @TimoGlastra

Do you think it's a mediator server configuration issue?

Thanks

[2022-04-08 22:22] swcurran commented on #694
I'm not sure about this.  Tagging @tmarkovski and @andrewwhitehead to see if they can provide any insight. Tomislav/Andrew -- feel free to ask any questions needed to understand the scenario.

[2022-04-12 06:44] brianorwhatever commented on #696
Closing this as it isn't very important. Feel free to open a more directed issue if there is something here 😄

[2022-04-14 11:08] TimoGlastra opened #706 "Update basePath to not use temp directory"
Update `basePath` in FileSystem to not use temp directory. Add new property `tempPath` for storing temp files

## Checklist
- [ ] Update `basePath` to non-temp file path
- [ ] Add `tempPath` property
- [ ] Add method to remove files / dirs to the file systems (ReactNativeFileSystem, NodeFileSystem)

[2022-04-14 11:33] TimoGlastra opened #707 "Allow to specify TAA method"
Currently we always take the first TAA acceptance mechanism. We should update this to be configurable so users of the framework can indicate which TAA acceptance mechanism to use

Relevant code:

https://github.com/hyperledger/aries-framework-javascript/blob/858253a2ed9da8f62a7b41b7a4c9c16dc9d2614c/packages/core/src/modules/ledger/services/IndyLedgerService.ts#L454-L478

As we have multi ledger su

[2022-04-14 12:51] standlove opened #708 "Credential offer and Proof requests sent while the app is closed are not received when re-open the app"
Hi,

Here are the steps
- Put the app into the background or closed
- Send the Credential offer and Proof requests to the app
- Reopen the app, but the sent credential and proof requests in last step are not received.

How is this handled in the aries framework?  Or is this handled in the mediator server?

Thanks.

[2022-04-14 13:03] TimoGlastra commented on #708
The mediator should store the messages until the app is reopened and able to receive the messages. Are you using ACA-Py as a mediator?  Have you set the mediator as default mediator in AFJ?

[2022-04-14 13:03] TimoGlastra commented on #671
Fixed in #672

[2022-04-14 13:03] #671 closed

[2022-04-14 13:48] TimoGlastra commented on #708
Yes if all is well, it should automatically reconnect and retrieve the pending messages.

The `MEDIATOR_URL` is an invitation url from ACA-Py or the actual URL of the mediator (it should be the former, not the latter)

If it's not working for you, could you set the log level to debug and share the logs with me, both before and after you close/reopen the app?

[2022-04-14 14:08] standlove commented on #708
Yes, the MEDIATOR_URL is an invitation from ACA-Py.

Here is the messages before I close the app.  I sent a proof request, it's received.
[before-close-app.txt](https://github.com/hyperledger/aries-framework-javascript/files/8489779/before-close-app.txt)

Then I close the app, and send another proof request, reopen the app.  The sent proof request is not received:
[after-reopen-app.txt](https://gi

[2022-04-14 16:02] TimoGlastra opened #709 "Add outbound messages to a queue instead of processing as part of agent methods"
Currently the message sending is done as part of the module methods, which wait for the message to be sent. In a lot of cases this makes a lot of sense, but sometimes this hasn't the desired effect.

E.g. when sending a message to a mediator AFJ will always use return routing. ACA-Py will keep the connection alive if returning routing is enabled if there's no direct response. This means sending a

[2022-04-14 19:24] TimoGlastra commented on #708
Hmm looking at the logs everything is working as it should be, so I'm leaning towards this being an issue with the mediator.

Have you enabled the --enable-undelivered-queue option in the ACA-Py mediator?

[2022-04-18 13:11] standlove commented on #708
Hi, @TimoGlastra

Thanks, the messages are received now after adding this option to the mediator.

But there is another issue.

If I sent two messages (1 credential and 1 proof request) while the app is closed, after I reopen the app. only one message is received, I need to reopen the app again to receive the other one.

Any idea about this?  Thanks.

[2022-04-18 13:49] TimoGlastra commented on #708
Yes we're also experiencing this issue. I think it has something to do with ACA-Py's queueing logic.

I'll try to take a look and see what's the issue, however I think this will be solved using the pickup v2 protocol which makes everything a lot more explicit. There's a plugin for ACA-Py: https://github.com/Indicio-tech/acapy-plugin-pickup and an open PR for AFJ: https://github.com/hyperledger/ari

[2022-04-19 00:52] JamesKEbert commented on #708
Yeah I can confirm the way ACA-Py's logic is working that we can only retrieve **one** message from the mediator (ACA-Py) on launch as we only send one trust ping. We _could_ send additional trust pings, however we have no idea whether or not an inbound message was in response to a trust ping or just streamed down over the WS, which could lead to some really odd behavior that would be _really_ har

[2022-04-19 01:08] swcurran commented on #708
Could you please do a write up issue about what’s needed in ACA-Py?

[2022-04-19 01:18] JamesKEbert commented on #708
Yeah I'd happy to write that up with @dbluhm! 👍

[2022-04-19 14:46] standlove commented on #708
After adding the --enable-undelivered-queue option to the mediator.

The app is unable to get the messages after some time:
[code]

The backend log is attached below:
[MediatorErrorStack.txt](https://github.com/hyperledger/aries-framework-javascript/files/8514000/MediatorErrorStack.txt)

Any idea about this?  Thanks.

[2022-04-19 20:29] marcinkiewiczblazej opened #713 "Unable to share revocable credential in 0.2.0-alpha.53"
I'm using version 0.2.0-alpha.53. My setup: react native wallet (Android), acapy mediator, acapy agent and a backend that serves also as a tails server. I'm using Indicio test net ledger.
I was able to issue a revocable credential.
For sharing I was testing 2 scenarios:
1. Proof request without `non_revoked` params. It worked fine, whole flow finished successfully.
2. Proof request with `non_revok

[2022-04-19 23:47] swcurran commented on #713
I suspect this is because of the `from` and `to` values. Per best practices in Indy presentation requests (this [Aries RFC 0441](https://github.com/hyperledger/aries-rfcs/tree/main/concepts/0441-present-proof-best-practices#verifier-non-revocation-interval-formulation)), the values should be the same for `from` and `to`.

The background is that the original implementation of AnonCreds tried to be

[2022-04-20 07:55] marcinkiewiczblazej commented on #713
@swcurran thanks it worked. Weird thing that there was no error in the console or in the app.

Now there's other issue. Wallet successfully fetched tails file. While reading it there's exception:
[code]
The stacktrace contains only native java methods. Top entry is `getString` on `ReadableNativeArray`.

[2022-04-20 10:54] TimoGlastra commented on #713
It's weird it's not throwing an error for that. We do a check for the `from` and `to` values and the following error should be thrown: `Presentation requests proof of non-revocation with an interval from: '${requestRevocationInterval.from}' that does not match the interval to: '${requestRevocationInterval.to}', as specified in Aries RFC 0441`

Maybe we should also log an error message. How are you

[2022-04-20 12:22] marcinkiewiczblazej commented on #713
Auto-accept is set to never
[code]
Proofs module is used, as we allow user to accept or reject the request and preview what data is requested, respectively `agent.proofs.declineRequest` or `agent.proofs.acceptRequest`. But the initial error happened before proofs module was called.

Current error with casting to String is happening after the proof request is accepted.

[2022-04-21 08:09] TimoGlastra commented on #713
Hmm not so sure what's happening here, but almost haven't worked with revocation in AFJ myself yet. @JamesKEbert any thoughts?

[2022-04-21 21:30] TimoGlastra commented on #440
Were you able to resolve this issue on ACA-Py's side @JamesKEbert?

[2022-04-22 07:10] #493 closed

[2022-04-22 14:25] marcinkiewiczblazej commented on #713
After updating `indy-sdk-react-native` to version `0.1.21` it started working correctly. So the issue is resolved.

[2022-04-22 14:25] #713 closed

[2022-04-22 14:40] TimoGlastra commented on #713
Ah good to know that did the trick. Great find!

[2022-04-23 06:55] JamesKEbert commented on #713
Per our implementation we built AFJ to appropriately throw an error/error out when the intervals don't match the for-mentioned best practices, so I am curious as to why we didn't end up seeing those errors. It may have been that the logic for asserting the intervals occurred after the actual issue presented in this report. @TimoGlastra is there a test in the AATH to test a mis-matching interval as

[2022-04-28 08:19] Przytua opened #723 "Generic Repository Events"
As proposed by @TimoGlastra in #716:

[2022-04-28 14:04] marcinkiewiczblazej opened #724 "Revocation notification cannot be processed in 0.2.0-alpha.57"
I'm using this stack:
- ACA-Py 0.7.3 as backend agent
- AFJ 0.2.0-alpha.57 as a react native wallet agent

When ACA-Py is sending revocation notification I'm getting error in the mobile app with the following message:
[code]

When creating a schema we're using concatenation of agent alias and the schema name (we replace spaces with underscores). `.` is the character that is used as a separator, e.

[2022-04-28 14:23] marcinkiewiczblazej commented on #724
If i replace `.` with `__` then it's working fine.

[2022-04-28 15:40] TimoGlastra commented on #724
Good catch @marcinkiewiczblazej! I think we should loosen the regex on the AFJ side and allow dots. We actually took this regex from ACA-Py, but it looks like they're not using it themselves maybe?

Are you willing to open a PR for this?

[2022-04-28 15:49] TimoGlastra commented on #723
We discussed this in the WG today (starting at 29:30 if you want to listen: https://wiki.hyperledger.org/download/attachments/62250923/video1405750752.mp4?version=1&modificationDate=1651158507433&api=v2)

The general consensus is that general repository events are useful and we would like to see this added to the framework.

Is this something you're willing to open a PR for this @Przytua? We can m

[2022-04-28 15:54] TimoGlastra opened #725 "Update state changed events to message processed events"
With the decision to add generic repository events (https://github.com/hyperledger/aries-framework-javascript/issues/723) we also explored moving away from the `StateChanged` events currently present in various modules.

If we have state changed events multiple events can be submitted for the same save/update action (a state changed and a generic record updated action). Instead we'd like to start

[2022-04-29 08:00] marcinkiewiczblazej commented on #724
I'll prepare PR with the fix. I've been digging depper and I've found the regex. It's a bit different in the schema tag part. In ACA-Py there's `(:.+)?` vs  `(?::[\dA-z]+)?`

This is the regex I've found. There's a chance there's a different one in other place ;]
https://github.com/hyperledger/aries-cloudagent-python/blob/main/aries_cloudagent/messaging/valid.py#L410

[2022-04-29 08:12] TimoGlastra opened #727 "Add support for mediator role for pickup v2 protocol"
As part of PR #711 support for the recipient role was added. This issue tracks the progress of also adding support for the mediator role.

In addition when adding support for the mediator, we should also add e2e tests to test the whole flow of picking up messages, which can be complex when only supporting one side of the protocol.

RFC: https://github.com/hyperledger/aries-rfcs/tree/main/features/

[2022-04-29 08:18] TimoGlastra opened #728 "Deleting a credential record should delete the associated didcomm messages"
When deleting a record from the service or module level it should delete all associated didcomm messages.

We can do this by finding all `DidCommMessageRecord` where the `associatedRecordId` matches with the record that will be deleted.

TODO:
- [ ] Add a new config property `deleteAssociatedDidCommMessages` to `DeleteCredentialOptions`.
- [ ] In `CredentialService.delete` check if `deleteAssociat

[2022-04-29 08:21] TimoGlastra opened #729 "Add convience methods to retrieve credential and presentation data associated with exchange"
In the ICv2 and PPv2 modules the didcomm messages are not stored in the exchange record anymore. The messages format also differs which means it can be hard to retrieve the attachment data.

Currently you have to:
    1. Inject `DidCommMessageRepository
    2. get the associated message using the message class (requires knowledge of the protocol version)
    3. loop through the formats.

It would

[2022-04-29 08:25] TimoGlastra opened #730 "Make it possible to use AFJ with a selection of credential and proof formats"
This issue focusses on using AFJ without all credential and proof format s. In the future we may look at how to use AFJ without the credentials / proofs modules completely if that's desired.

Both JSON-LD and indy credentials add some heavy dependencies that are needed for crypto and ledger interactions. Some users may only need json-ld credential support and it would be a waste to also need to in

[2022-04-29 08:31] TimoGlastra commented on #723
I think the state changed events can be handled separately at a later time, so if we directly add the generic repository events there won't be any breaking changes is it's just a new feature.

Sure thats fine by me. But if your PR will be ready before we mark the 0.2.0 release I don't see a reason to keep them in TBH.

[2022-04-29 08:39] Przytua commented on #723
Ah, ok. So yeah, let's leave #716 in PR, and if I won't make it before the release (which I hope won't happen), you can merge it, and generic ones would be added to next version.

By the way, is there any planned date for 0.2.0 release?

[2022-04-29 08:56] TimoGlastra commented on #305
Fixed in #690

[2022-04-29 08:56] #305 closed

[2022-05-01 21:17] #483 closed

[2022-05-02 12:06] TimoGlastra opened #734 "Drop support for node 12"
Node 12 reached EOL on 30-04-2022. We can now remove support for it. This requires some changes as the current docker setup is based on top of node 12. Once that is upgraded (I'd say to node 16, the current LTS) we can remove node 12 from the test matrix.

[2022-05-04 09:55] TimoGlastra opened #737 "Integrate revocation notification with issue credential v2"
with ICv2 supporting different credential formats and potentially mulitple issuances of the indy credential we should take another look at the indy metadata we store in the credential record.

So what I'd like to propose is the following:

1. Do not store the revocation registry id and credential revocation id in the CredentialExchange record anymore, instead when we receive a revocation notificat

[2022-05-04 09:55] TimoGlastra commented on #737
@JamesKEbert  @TheThreek any thoughts on this approach?

[2022-05-04 09:57] TimoGlastra opened #738 "Write migration script for issue credential v2 changes"

[2022-05-04 13:34] karimStekelenburg opened #739 "Complex storage queries (Wallet Query Language (WQL))"
For some use cases it's currently required to query the `StorageService` multiple times in a row. This would not be necesarry if the `StorageService` would expose an API that allows for complex queries that include `$and`, `$or` and `$not` clauses.

We should implement the Wallet Query Language (WQL) as specified by [Indy doc 011](https://github.com/hyperledger/indy-sdk/tree/master/docs/design/011

[2022-05-04 14:24] blu3beri commented on #739
Do you think we should just allow a WQL string or should we create a builder for this? Would be quite a nice feature to have, and with a builder we could also expose it publicly.

[2022-05-04 19:19] swcurran commented on #737
I've been meaning to mention this for a bit, and this seems like a good place.  Could we start to migrate to use the term "AnonCreds" rather than Indy when talking about verifiable credentials?  We have been for some time scoping "Indy" to just the ledger, and moving towards using AnonCreds independent of a ledger. As such, it makes sense to use AnonCreds instead of Indy in discussions like this,

[2022-05-05 14:26] 2byrds opened #740 "Create a guide/document covering how to store wallet parts, on mobile, using AFJ"
We want to document how wallet parts are securely stored on a mobile app, using AFJ.
This includes storing cryptographic material (mnemonic, passphrase, private keys, etc) and SSI related items like DIDs/VCs/Relationships/history.
It should adhere to https://github.com/hyperledger/aries-rfcs/blob/main/concepts/0051-dkms/dkms-v4.md
and https://github.com/hyperledger/aries-rfcs/tree/main/concepts/04

[2022-05-05 14:42] swcurran commented on #740
Highly recommend you look into Aries Askar for much of that: https://github.com/hyperledger/aries-askar

FYI, if folks were wondering if Askar should be used vs. Indy SDK, here are some interesting load test results to look at -- it's not even close anymore:

* [ACA-Py 0.7.3 with Indy SDK](https://github.com/lissi-id/acapy-load-test-results/blob/main/AcaPy_0-7-3/Without%20Multitenancy/Revokable/Fu

[2022-05-05 15:11] 2byrds commented on #740
Thank you for the information @swcurran  !

[2022-05-05 15:28] TimoGlastra commented on #740
Damn, these numbers are insane. Nice!

[2022-05-05 15:41] genaris commented on #740
This is pretty interesting. The same could be achieved in AFJ maintaining current functionality by switching from indy-sdk to askar + aries-vcx + indy-vdr?

[2022-05-05 16:12] genaris opened #741 "Persistent message repositories for Pickup Protocol"
Currently, Agent uses by default an in-memory message queue for outbound messages when a session with the receiver is not established, using an `InMemoryMessageRepository` instance as message repository used by `MessageSender`and `MessagePickupService`.

For server-side scenarios (i.e. mediators or agents dealing with other agents without endpoints) is important to use a persistent message queue,

[2022-05-05 17:25] TimoGlastra commented on #740
Let's hope so 🤞. We don't really have performance tests for AFJ. However it looks like the data generator is set up quite generic so it shouldn't be too complex to add support for AFJ.

[2022-05-05 17:27] TimoGlastra commented on #741
Do you think it would be convenient to add something like a persistent state interface that could be leveraged by different parts of the framework? I think this could be useful more broadly for things like:
 - the message repository
 - inbound message queue
 - outbound message queue

[2022-05-06 10:34] karimStekelenburg opened #742 "Add validation to `JsonTransformer.fromJson()`"
Currently, the only place were JSON is being validated is inside the `MessageReceiver`. However, there are many cases where we manually transform JSON into class instances. This currently requires us to manually call the `class-validator`, which is easy to forget.

One way to make this process less error prone is to add this validation step to the `JsonTransformer.fromJson()` method as default beh

[2022-05-06 12:39] standlove opened #744 "https mediator doesn't work in release apk"
Hi,

If we use an https mediator url, and also remove this line from android manifest file: `android:usesCleartextTraffic="true"`.

Then build a release apk, but when scan an invitation qrcode, the connection is not established.

While the same works in the debug apk. Any idea about this?

Thanks.

[2022-05-07 07:44] #352 closed

[2022-05-07 09:18] TimoGlastra opened #747 "Issue Credential v2 issue tracker"
This issue tracks all outstanding tasks for ICv2:

- [ ] Unresolved comments from the ICv2 PR: https://github.com/hyperledger/aries-framework-javascript/pull/649#pullrequestreview-930813626
- [ ] Offer credential interface takes an optional credentialRecordId. It shouldn't take this as when you offer a credential there is no credential record id yet.
- [ ] Accept proposal takes the following prope

[2022-05-07 09:18] TimoGlastra commented on #747
@NB-MikeRichardson  using this to track everything related to issue credential v2

[2022-05-07 11:56] TimoGlastra commented on #747
Branch I'm working on to integrate ICv2 into AATH: https://github.com/TimoGlastra/aries-agent-test-harness/tree/feat/afj-icv2

I've got it working between AFJ <-> AFJ, but as listed in the items above there are some issues with interop

[2022-05-07 12:45] TimoGlastra opened #749 "Look at alternatives for class-transformer and class-validator"
Although class-transformer and class-validator do a lot of heavy lifting in terms of (de)seralization and validation the libraries are largely unmaintained and have issues when dealing with complexer types. This issue is to create a list of alternative to these libraries so we can make a decicision whether it is worth it to change the library to something else.

Cons:
- Libraries are mostly unmain

[2022-05-07 15:20] TimoGlastra opened #750 "refactor: Rename XxxMessageOptions to XxxMessageProps"

[2022-05-08 11:49] TimoGlastra opened #751 "use the term "AnonCreds" rather than Indy"
Based on comment from @swcurran he proposes to move away from the term indy and start using the term AnonCreds. Question is whether it's worth to do a migration over this, and whether we want to all at once or start using the new term for new features/code (could be confusing I guess)

https://github.com/hyperledger/aries-framework-javascript/issues/737#issuecomment-1117724641

[2022-05-09 09:10] nbAmit opened #752 "update indy-sdk-react-native version to 0.2.0"
Update indy-sdk-react-native version to 0.2.0 to support

- chore!: update indy SDK version to 1.16 for android
- chore(deps): bump plist from 3.0.4 to 3.0.5
- chore(deps): bump async from 2.6.3 to 2.6.4
- chore: update indy framework source link

[2022-05-09 09:46] sheraliinamdar commented on #744
can anyone provide some pointers to analyze above issue ?

[2022-05-09 10:35] TimoGlastra opened #753 "Add ability to manage mediator pickup lifecycle manually"
Currently you can initiate message pickup but it's not possible to stop the message pickup. When building a mobile wallet you often need more control over when the mediator pickup is active:

- when the device loses internet connection you may want to halt the pickup (other it will try to create a lot of ws connections but never succeed)
- when the device enters background mode you may want to hal

[2022-05-09 10:36] TimoGlastra commented on #744
Hi @standlove / @sheraliinamdar. We're using AFJ in an android production build and don't encounter any issues with the mediator.

You have provided very little information about the issue, which makes it hard to determine the cause. Could you share as much as possible about your setup (both client and mediator)? Also do you have access to the logs of the mediator (I'm assuming ACA-Py?)?

I need m

[2022-05-09 10:37] #235 closed

[2022-05-09 11:43] #752 closed

[2022-05-09 19:34] TimoGlastra opened #755 "Fix inconsistencies in issue credential and present proof modules API"
With the enormous changes both the credential and proof modules have been through it is expected there are some inconsistencies in the public API between the modules. For now we should just focus on the inconsistencies in the public api, we can then focus on inconsistencies on lower levels in the future.

[2022-05-10 08:52] TimoGlastra opened #758 "Add documentation on how to use postgres storage in Node.JS"
PR #699 adds support for using a postgres wallet type in Node.JS. It would be nice to add some documentation on how to install the postgres plugin on different platforms, and also on how to use it with AFJ.

@sairanjitAW is this something you're willing to take a look at?

[2022-05-10 09:29] sairanjitAW commented on #758
@TimoGlastra Yes. I will add documentation for the same.

[2022-05-10 09:45] TimoGlastra commented on #758
Awesome, thanks!

[2022-05-10 23:32] cvarjao opened #762 "Return InboundMessageContext from MessageReceiver.receiveMessage"
In order to process connection-less proof request and wait for the underline message to be processed, it would be helpful if
[MessageReceiver.receiveMessage](https://github.com/hyperledger/aries-framework-javascript/blob/245223acbc6f50de418b310025665e5c1316f1af/packages/core/src/agent/MessageReceiver.ts#L68) returns the underline `InboundMessageContext`.

Notice that [Agent.receiveMessage](https:/

[2022-05-11 07:17] TimoGlastra commented on #762
Hi @cvarjao! Just trying to understand what you'd like to achieve. Which parameter in the inbound message context is it that you need? Or is it just having the inbound message context as a whole?

[2022-05-11 08:40] TimoGlastra opened #764 "OOB / DIDExchange issue tracker"
Tasks left from PR review:

- [x] Reuse oob invitation keys also for multiuse invitation (?)
  - @TimoGlastra Currently, I'm still creating new keys when it's multiuse invitation. I assume we don't want to do that, right?
- [x] Add oob record state and role checks
- [ ] feat(api): store more from receiveInvitation config into a record and allow override in acceptInvitation
- [ ] refactor(core): Ch

[2022-05-12 02:03] afrisalyp commented on #744
Hi @TimoGlastra,

Our app based on AFJ `0.1.0` version.
We are trying to restrict the app so it will not able to do clear HTTP request.

When the app has this config in the Android manifest, all functionality work properly.
[code]

But, I we remove the flag, wallet functionalities don't work at the first install, but after next app open, the wallet app normally works.

I see that at the first open

[2022-05-12 05:51] TimoGlastra commented on #744
Thanks @afrisalyp, could you share the logs?

[2022-05-12 15:11] afrisalyp commented on #744
@TimoGlastra
Here is the logs

[code]

Thanks.

[2022-05-13 07:10] jakubkoci opened #771 "Posgresql for framework development"
As a developer, I want to run all the tests with the least amount of external dependencies, so that I can contribute to a small part of the framework without bothering about the rest so much and not breaking it.

Current:
* There is a test `postgres.test.ts` requiring the installation of PostgreSQL database (if I understand it correctly).

Expected:
* We need to add a description of how to install

[2022-05-13 07:37] TimoGlastra commented on #771
Related issue: https://github.com/hyperledger/aries-framework-javascript/issues/758

[2022-05-14 15:29] TimoGlastra commented on #345
Fixed in #717, outstanding issues tracked in #764

[2022-05-14 15:29] #345 closed

[2022-05-14 15:29] TimoGlastra commented on #344
Fixed in #717, outstanding issues tracked in #764

[2022-05-14 15:29] #344 closed

[2022-05-16 10:47] nbAmit opened #774 "@type transform is missing for v2 credentials preview message"
I was doing testing the V2 credential issuance with Aries cloud agent python and getting error `type must be equal to https://didcomm.org/issue-credential/2.0/credential-preview`
``
I think to resolved this we need to add below lines into the ../v2/V2CredentialPreview.ts

[code]

[2022-05-16 12:09] TimoGlastra commented on #774
I think this protocol was finalized after the transition to https://didcomm.org so it should never use the did:sov prefix. We can loosen it in AFJ, but would rather have other implementations follow the RFCs

[2022-05-16 14:55] #774 closed

[2022-05-18 10:23] #685 closed

[2022-05-19 15:23] Iskander508 opened #780 "[alpha76] Accept Offer Credential v1 not working"
Using these (alpha) versions of libraries inside a react-native project:
[code]

We have tried to issue and accept a v1 credential (using an old Connection protocol 1.0). The credential offer is delivered correctly, but after accepting the offer by calling the `agent.credentials.acceptOffer` the `https://didcomm.org/issue-credential/1.0/request-credential` message seems to be sent, although there

[2022-05-19 16:43] TimoGlastra commented on #780
Hi @Iskander508, thanks for opening this issue.

This issue has also been reported to me by someone else already. It seems the problem has to do with the holderDid (`prover_did` in the proof request). Some context:

[2022-05-19 21:18] amanji opened #784 "Message queueing when using web socket transports"
We noticed an issue where incoming messages can be processed out of order with websocket transports for mobile applications using AFJ. However @TimoGlastra mentioned that queuing can have an adverse impact on server deployments of AFJ.  [This](https://discord.com/channels/905194001349627914/941708033434738768/974724289112719392) discord message outlines the issue observed. What steps should be tak

[2022-05-20 07:30] nbAmit commented on #780
@TimoGlastra You can assign to me as I am looking into that

[2022-05-20 11:30] standlove commented on #744
Hi,  @TimoGlastra

Possible to find time to help check above.

Thanks

[2022-05-20 14:35] TimoGlastra commented on #744
Looking at the logs you probably need to tweak some settings in azure:

[code]

[2022-05-23 11:46] ChSonendra opened #788 "Propose credential issue, Faber is not receiving attributes"
So I was trying credential flow from Holder's end that is a mobile app built using AFJ framework....

After creating a connection with a ACA-py agent, i called proposeCredential with following arguments.

1) connection id
2) config =
[code]

and what i got on backend (Faber's end) is

[code]

faber didn't got attributes and other stuff just very limited stuff that is msg type and id of message.
af

[2022-05-25 07:14] TimoGlastra commented on #788
@NB-MikeRichardson can you take a look at this? Looking at the V1CredentialService the values are indeed not being set correctly

[2022-05-25 08:59] NB-MikeRichardson opened #792 "Remove Protocol Version in v2CredentialService acceptProposal()"
export class V2CredentialService extends CredentialService {
    const options: ServiceOfferCredentialOptions = {
      credentialFormats: proposal.credentialFormats,
      comment: proposal.comment,
      protocolVersion: credentialRecord.protocolVersion,
    }
    const message = await this.createOfferAsResponse(credentialRecord, options)
[code]

[2022-05-25 09:02] NB-MikeRichardson opened #793 "Investigate why credentials attribute in CredentialExchangeRecord is undefined"
[code]
}

Member
@[TimoGlastra](https://github.com/TimoGlastra) TimoGlastra [6 days ago](https://github.com/hyperledger/aries-framework-javascript/pull/769#discussion_r876899461)
With the change to || [] I think we can just do:

const credentialIds = this.credentials.map(c => c.credentialRecordId)

This change breaks a test as this.credentials is undefined -> we need to find out why

The types ind

[2022-05-25 09:17] NB-MikeRichardson commented on #788
I have investigated this and I found the issue. I have tested a fix and added new tests to ensure propose message attributes are present.

We will have the fix merged into AFJ main branch as soon as possible.

[2022-05-25 09:24] TimoGlastra opened #794 "Look how to emit with an error class so we don't have two identical messages for log and error"
Could we not make the error class also emit a log message? I have seem this log and afterwards a couple of times and adding it to the error class would make it more consistent, if that is what we want.

If agreed, seperate PR would be fine.

_Originally posted by @blu3beri in https://github.com/hyperledger/aries-framework-javascript/pull/782#discussion_r879145263_

[2022-05-26 06:47] ChSonendra commented on #788
Thank You both @NB-MikeRichardson and @TimoGlastra for considering and looking into this issue.

[2022-05-26 08:11] TimoGlastra opened #800 "Split up the mediator pickup approaches into different services"
The mediation code is getting quite complex because we manage all pickup variants (Implicit, V1 and v2) in the same module/service. We should ook at splitting up the mediator service in different pickup services and let each manage their own routing lifecycle.

[2022-05-26 12:35] #788 closed

[2022-05-26 12:37] TimoGlastra opened #802 "Add macOS and Windows to test matrix"
Currently we're only testing on Linux, but as has been made clear in https://github.com/hyperledger/aries-framework-javascript/pull/801, there could be issues on different platforms. To make sure AFJ runs on all platforms we should add tests for macos and windows to the matrix

[2022-05-26 12:39] TimoGlastra commented on #788
@ChSonendra this should have been fixed in [v0.2.0-alpha.89](https://github.com/hyperledger/aries-framework-javascript/releases/tag/v0.2.0-alpha.89). Could you please test if it works with this version? Thanks!

[2022-05-27 04:10] ChSonendra commented on #788
Yes @TimoGlastra, I will test and confirm you this at earliest. Thanks!

[2022-05-27 08:26] ChSonendra commented on #788
I did upgraded the framework to v0.2.0-alpha.90 so after that upgradation when I tried making connection with a new agent and it said cannot find this function receiveInvitationFromUrl and when i looked for it in connectionModule.js a lot of functionality was missing... couldn't really understood what exactly is going wrong.. I tried installing the framework many times but same  issue. "functional

[2022-05-27 13:43] Iskander508 opened #807 "[alpha.88+] Websocket connection to mediator not working"
@KolbyRKunz, @TimoGlastra

It seems this PR broke our setup: https://github.com/hyperledger/aries-framework-javascript/pull/787
We cannot create a connection with latest alpha versions in a react-native application, using websocket connection to an aca-py mediator.

I have digged a bit deeper and the problem seems to be on this line:
https://github.com/Indicio-tech/aries-framework-javascript/blob/

[2022-05-27 14:12] TimoGlastra commented on #807
Thanks for raising this issue @Iskander508. I've made a quick fix in this PR: https://github.com/hyperledger/aries-framework-javascript/pull/808

Will look soon to make the code a bit more robust and add test cases for these cases. The problem is that we assumed the mediation record would always store the pickup strategy, but in your case you're using the agent wide config parameter.

[2022-05-27 14:17] Iskander508 commented on #807
@TimoGlastra: I think I have found the issue in the code. You can check the https://github.com/hyperledger/aries-framework-javascript/pull/809

[2022-05-27 15:15] KolbyRKunz commented on #807
Sorry for the confusion, I just have a follow up question about how this might affect things in the future. It might not even be possible but, if for some reason the mediator and the agent wide config parameter were somehow set to different strategies wouldn't we want to make sure those got synced and which one should we say is the source of truth in this instance? I am not sure if that is even po

[2022-05-30 07:30] #807 closed

[2022-05-30 08:34] ChSonendra opened #811 "v0.2.0-alpha.90 is missing some functionality in Connection and credential module"
I did upgraded the framework to v0.2.0-alpha.90 to use propose Credential flow...so after that upgradation when I tried making connection with a new agent and it said cannot find this function receiveInvitationFromUrl and when i looked for it in connectionModule.js a lot of functionality was missing... couldn't really understood what exactly is going wrong.. I tried installing the framework many t

[2022-05-30 11:02] Iskander508 opened #812 "OOB invitations using public did not supported"
@TimoGlastra maybe just a question: If we try to use the out-of-band invitations (created in an aca-py instance) and using the public did, the AFJ client cannot receive such invitation right now.

The `agent.oob.receiveInvitationFromUrl` currently fails with: `TypeError: undefined is not an object (evaluating 'iter[Symbol.iterator]`
We've identified the failure coming from this line: https://githu

[2022-05-30 11:07] TimoGlastra commented on #812
Ah we should update the code snippet to the following to avoid the error posted above:

[code]

But you're correct that receiving invitations from public dids are not supported yet. It's currently not top of my priority to work on this feature. @JamesKEbert mentioned that he'd be interested in working on this, but not sure of the status of this.

[2022-05-31 14:51] TimoGlastra opened #820 "Not possible to connect with self anymore since introduction of OOB module"

[2022-06-01 10:56] sairanjitAW commented on #758
Yes, I was able to add for Linux and Mac but for windows, I was not able to prepare as of now. I will add the PR for that today itself.

[2022-06-01 11:39] ChSonendra opened #822 "Accept credential Offer is not working."
previously it was fine we just needed to pass cred_ex_id of the credential offer but now it is not working.
it expects some kind of options attribute i figured it out it needed some extra things that credential doesn't contain.
It would be great if it can be used as we used in the previous version.

[2022-06-01 14:18] NB-MikeRichardson commented on #822
I thought the problem was with accept offer rather than accept proposal

[2022-06-01 14:45] swcurran commented on #822
I would think you would want to take care with taking the cred_def_id from the proposal.  That data element is from the holder and may not align with what the issuer is able/willing to offer.  Obvs if the cred-def-id is not one the issuer owns, they can't issue such a credential, so that check is a minimum.

[2022-06-01 15:42] TimoGlastra commented on #822
The method we're talking about is `acceptProposal` (thus indicating we want to take over the values from the proposal). If you don't want to take these values from the proposal you can either start from an offer (`offerCredential`) or create a counter offer (`negotiateProposal`)

[2022-06-01 15:47] TimoGlastra commented on #822
You're right, I misread. This is probably another issue then. @ChSonendra can you add some more context on the issue? Looking at the API you should be able to call it like this:

[code]

[2022-06-02 05:48] ChSonendra commented on #822
okay so when we have a credential offer and if we try to accept it by calling
so previously we used call this function as   await agent.credentials.acceptOffer(cred_ex_id);
but in recent version that alpha-92 we have another problem this time this function is expecting another type of argument that is options "async acceptOffer(options) { function_body }" and this option argument should contain th

[2022-06-02 05:51] ChSonendra commented on #811
thank You got it. I am closing this issue.

[2022-06-02 06:14] NB-MikeRichardson commented on #822
Looking at the code, the acceptOffer method takes one argument in the credentials module:

[code]

And AcceptOfferOptions only requires a single attribute - credentialRecordId.

My understanding is that this was changed because credential definition id is an Indy specific concept, and this API is now used in V2 by non-Indy users.

[2022-06-02 06:31] NB-MikeRichardson commented on #822
Now I notice in that method we have some new code that was added last week to fix a bug with the Indy DID:

[code]

Could there be an issue somewhere in this code?

[2022-06-02 07:26] NB-MikeRichardson opened #827 "Accept Proposal should reuse credential definition id from the Proposal"
accepting a proposal should take the credential definition id from the proposal to send a credential offer (if availalbe on the proposal). This functionality was there for v1 (and still is: https://github.com/hyperledger/aries-framework-javascript/blob/main/packages/core/src/modules/credentials/protocol/v1/V1CredentialService.ts#L204-L205), but itsn't present in v2. We should probably extract this

[2022-06-02 08:29] NB-MikeRichardson commented on #827
As per comment from @swcurran we need to ensure that this is valid, ie if the cred-def-id in the proposal is not one the issuer owns, they can't issue such a credential, so that check is a minimum.

[2022-06-02 09:13] #792 closed

[2022-06-02 09:13] NB-MikeRichardson commented on #792
This is complete

[2022-06-02 09:18] ChSonendra commented on #822
I am debugging this piece of code and will tell the outcomes here shortly.

[2022-06-02 10:30] ChSonendra commented on #822
@NB-MikeRichardson
I passed this parameter to agent.credentials.acceptOffer() parameter

 const options = {
                  credentialRecordId : item.id,
                  comment: "accept offer",
                  autoAcceptCredential : true
                }
and this thing worked fine and state is set to
credential-received at holder and
credential-issued at issuer's end.
So the problem now is

[2022-06-02 10:30] ChSonendra commented on #822
closed by mistake.

[2022-06-02 10:51] NB-MikeRichardson commented on #822
@ChSonendra I think the autoAcceptCredential is not a boolean but takes an enum:
[code]

Can you try that?

[2022-06-02 11:16] ChSonendra commented on #822
Thankyou @NB-MikeRichardson  issue is now resolved and we have to pass
[code]
this kind of argument to acceptOffer instead of just a cred_ex_id and it works fine.
So thank You once again.

[2022-06-02 12:54] TimoGlastra commented on #822
@ChSonendra what have you set for `autoAcceptCredential` on the agent config?

[2022-06-02 13:04] blu3beri commented on #822
@TimoGlastra Maybe we should add a warning log when `AutoAcceptCredential.Always` is set at on the agent config. Like

`autoAcceptCredentails is set to "Always". It is not recommended for production use, and should only be used for development`.

A warning might be a bit too high, so maybe an `info` log.

[2022-06-02 17:13] #739 closed, assigned to nobody

[2022-06-02 18:02] TimoGlastra opened #832 "record emitted in events are modified afterwards, changing the payload of an event"
Take the scenario where a request is received for a new connection. Once the request has been processed we emit an event where the connection record has state `request-received`. We then return the connection record. If auto accept is enabled (which is basically always for connections) we immediate create a response and update the state on the record to response-sent.

Because we're using the same

[2022-06-03 03:15] ChSonendra commented on #822
@TimoGlastra  Right, So Issuer can change the content at the time of issuing of credential, thanks for mentioning this. I will try to make space to add an option for asking user to autoAcceptCredential in the App itself.

[2022-06-03 08:23] #832 closed

[2022-06-07 10:58] TimoGlastra opened #836 "Delete tags when deleting a record item"
It seems tags are not autmoatically deleted when deleting a record, so we should add this to the `IndyStorageService`: https://github.com/hyperledger/indy-sdk/tree/master/wrappers/nodejs#deletewalletrecordtags--wh-type-id-tagnames----void

1. Create small PoC to test if tags are deleted (see below)
2. If the tags are not deleted, delete tags when deleting a record in the `IndyStorageService.ts` fi

[2022-06-07 12:21] Iskander508 opened #837 "Requesting similar attributes from different credentials fails"
After including this change: https://github.com/hyperledger/aries-framework-javascript/pull/640
when being requested (as a holder/prover) attributes from 2 different credentials, that happen to use the same identifier, an assertion failure is reported. e.g. consider a proof request like this:
[code]

This proof request will fail on the assertion with a message: `The proof request contains duplicat

[2022-06-07 13:28] TimoGlastra commented on #837
If we don't do the check indy-sdk will eventually blow up with an error that looks something like: `CommonInvalidStructure`. Which is 100% useless. That's why we tried to add some checks to provide more helpful errors.

Understand you're not very familiar with the internal codebase. I'll add it to my list, but can't guarantee I can work on it in the near feature

[2022-06-07 14:25] Iskander508 commented on #837
OK, now I understand why we have it, and I think I could give it a try to implement a better solution. In order to make it right, the logic might be quite complex around the `restrictions`, though.
For example for this case it is very straightforward, this should not be allowed as we're obviously requesting `age` raw value as well as predicate:
[code]

However for this case it is not so obvious wh

[2022-06-08 14:59] blu3beri commented on #836
Where does it show that the tags are not deleted when a record is deleted? Maybe you can just delete the tags without deleting the record. I am trying to find it in the `indy-sdk` code but thats not the easiest place to look.

[2022-06-08 15:04] TimoGlastra commented on #836
The .NET framework does it: https://cs.github.com/hyperledger/aries-framework-dotnet/blob/8f5748bf8517d5d4488e632eac9a68938ee2c168/src/Hyperledger.Aries/Storage/DefaultWalletRecordService.cs?q=repo%3Ahyperledger%2Faries-framework-dotnet+deleteAsync#L126-L130

But yeah could be that it is automatically done. However you also need to store and update them separately, so wouldn't surprise me if you a

[2022-06-08 15:05] blu3beri commented on #836
AH yeah storing and updating seperately implies that. Maybe a quick test with creating a record with some tags, deleting the record and trying to fetch by tags?

[2022-06-09 18:44] #723 closed

[2022-06-10 08:55] TimoGlastra commented on #837
Yes I think you're right, we shouldn't put restrictions on the usage of indy credentials in AFJ, so if we can't determine it we should just allow it.

[2022-06-10 09:11] #738 closed

[2022-06-10 14:27] morrieinmaas commented on #707
@TimoGlastra can you assign me this issue please

[2022-06-10 16:55] swcurran commented on #837
Would it make sense for AFJ (or other Aries Framework) to do a post-mortem on failed proofs?  E.g. rather than doing an up front restriction and blocking the proof, do a failed verification set of checks to provide more insight to the caller as to what might have happened?

[2022-06-14 10:15] TimoGlastra commented on #837
Yes that would make a lot of sense! Good idea @swcurran :)

[2022-06-14 11:46] Iskander508 commented on #837
I agree @swcurran. That would be a much cleaner solution. Do you plan to create a PR for it?

[2022-06-14 14:49] #737 closed

[2022-06-14 14:49] #747 closed

[2022-06-15 08:06] morrieinmaas opened #854 "Add documentation for TAA mechanism via config"
TAA machanism can now/soon be parsed via the config (see [this PR](https://github.com/hyperledger/aries-framework-javascript/pull/849#pullrequestreview-1007039858)).

The documentation needs to be updated to incorporate that (update [here](https://github.com/animo/aries-javascript-docs/blob/main/guides/tutorials/agent-config.md#indyledgers)).

I'll add this

[2022-06-15 09:33] TimoGlastra commented on #707
Fixed in #849

[2022-06-15 09:33] #707 closed

[2022-06-15 09:40] TimoGlastra opened #858 "Do not automatically use `didcomm:transport/queue` if no endpoints are registered"
Currently when no endpoints are registered on the agent it will use `didcomm:transport/queue` to indicate to the other agent we don't have an endpoint and it should queue messages.

Although convenient to set this by default it can hide incorrect setups and make errors happen silently. This is because messages will be queued and no error will be thrown we can't actually send the message.

If we're

[2022-06-15 09:56] #822 closed

[2022-06-15 09:56] TimoGlastra commented on #827
This is fixed

[2022-06-15 09:56] #811 closed

[2022-06-15 09:57] TimoGlastra commented on #744
Closing, please open a new ticket if you encounter any other issues

[2022-06-15 09:57] #744 closed

[2022-06-15 10:01] blu3beri opened #859 "Smart schema and credential definition registration"
Right now, when registering a schema or credential definition, it makes a request to the ledger to do this without checking if it already exists. This can be quite annoying if you have a script that registers a schema, registers a credential definition and issues a credential based on those afterwards.

ACA-Py has records for schemas and credential definitions. This way, you can check if you have

[2022-06-15 10:04] TimoGlastra opened #860 "Deleting a proof record should delete the associated didcomm messages"
When deleting a record from the service or module level it should delete all associated didcomm messages.

We can do this by finding all DidCommMessageRecord where the associatedRecordId matches with the record that will be deleted.

TODO:
- [ ] Add a new config property deleteAssociatedDidCommMessages to DeleteProofOptions.
- [ ] In ProofService.delete check if deleteAssociatedDidCommMessage is t

[2022-06-15 10:07] TimoGlastra commented on #708
This issue can be fixed by using the pickup v2 protocol, closing this ticket, please open a new ticket if you're still running into problems

[2022-06-15 10:07] #708 closed

[2022-06-15 10:08] TimoGlastra commented on #553
Fixed

[2022-06-15 10:08] #553 closed

[2022-06-15 10:09] TimoGlastra commented on #112
Closing, will keep #348 open

[2022-06-15 10:09] #112 closed

[2022-06-15 10:09] TimoGlastra commented on #355
Merged into the 0.3.0-pre branch

[2022-06-15 10:09] #648 closed

[2022-06-15 10:10] TimoGlastra commented on #544
closing, please reopen or open a new issue @amanji if the issue still persists

[2022-06-15 10:10] #544 closed

[2022-06-15 13:28] Iskander508 opened #863 "[alpha122] Failed to process revocation notification message"
The incoming revocation notification (acting as mobile holder) is not processed properly, because the target record query fails.

The root cause seems to be missing `indyCredentialRevocationId` and `indyRevocationRegistryId` on the target credential. The metadata only contains `schemaId` and `credentialDefinitionId`. When calling `getTags()` it gives this result:
[code]

By trying to go back in ti

[2022-06-15 13:37] TimoGlastra commented on #863
Fix in #864

[2022-06-15 16:05] TimoGlastra opened #867 "fix ci pipeline"
The CI pipeline is broken and doesn't detect the versions correctly.

Probably the easiest way is to start using release-please like we do in the afj-ext repo.

Have a working intiial version here: https://github.com/TimoGlastra/aries-framework-javascript/pull/15

[2022-06-15 16:18] Iskander508 opened #868 "[alpha122] Cannot determine schemaId and credentialDefinitionId of V1 credential (offer-received)"
When receiving a credential offer, it would be useful to have access to the `schemaId` and `credentialDefinitionId` values, eg. via `getTags()`.

I think these two places have removed the possibility @TimoGlastra:

https://github.com/hyperledger/aries-framework-javascript/commit/2fe0f18d09bf61a69f9e4594186cbb63c4c5e758#r76179993
https://github.com/hyperledger/aries-framework-javascript/commit/2fe0

[2022-06-15 16:36] #863 closed

[2022-06-15 17:02] Iskander508 commented on #868
OK, that makes sense. I haven't noticed any `getAttachmentData` method, though? Is it planned to be added soon?

[2022-06-15 17:31] cvarjao commented on #762
@TimoGlastra, I think we got this figured out, but interested in your feedback.

We needed a way to identifies notifications that are coming from a QR code that has just been scanned.
The workflow is that whenever the user scans a QR Code, the wallet wait for either a Credential Offer or a Proof Request from that "connection". And I am using connection loosely as it could be a connection-less proo

[2022-06-16 08:10] morrieinmaas commented on #854
closed by [this PR](https://github.com/animo/aries-javascript-docs/pull/24)

[2022-06-16 10:29] morrieinmaas commented on #734
@karimStekelenburg can you assign me pls?

[2022-06-16 10:29] morrieinmaas commented on #728
@TimoGlastra can you assign me pls?

[2022-06-16 14:54] morrieinmaas opened #874 "create test util for catching errors"
see [this PR comment for more detail](https://github.com/hyperledger/aries-framework-javascript/pull/830#discussion_r893463474)

Happy to work on this.

[2022-06-16 21:33] #728 closed

[2022-06-17 07:59] Iskander508 commented on #874
How is this different from the jest `expect(...).toThrow(Error)`? E.g. used here: https://github.com/hyperledger/aries-framework-javascript/blob/main/packages/core/src/modules/ledger/__tests__/IndyPoolService.test.ts#L86

[2022-06-17 08:26] morrieinmaas commented on #874
@Iskander508 This is different in the way that it allows to catch the entire error object and do some more validation on this. The link above is just the example. With the `expect(...).toThrow(Error)` you are limited with the validation you can do in one go (eg validate error of type x is thrown or error message x is present). It's just a little bit of extra scrutiny

[2022-06-17 10:06] Iskander508 opened #875 "[alpha125] legacy did:sov prefix in oob invitation"
During the yesterdays [Cardea interop-a-thon](https://indicio.tech/the-cardea-interop-a-thon-returns-and-heres-why-you-should-participate/), I have tested the `alpha.125` version of the react-native/core AFJ as a holder against multiple agents.
I was presented this invitationUrl from a cardea test agent (I'm not sure which implementation is it using): `https://mediator4.test.indiciotech.io:443?oob

[2022-06-17 10:39] TimoGlastra commented on #875
This is fixed as part of https://github.com/hyperledger/aries-framework-javascript/pull/840. However it may take a while for that PR to get merged (complex thing get right) so if you want to resolve this sooner, maybe you can extract the replaces the legacydidsovprefix?

[2022-06-17 17:57] #867 closed

[2022-06-19 15:57] TimoGlastra opened #883 "Encoded indy attributes drop the leading 0's for numeric strings"
PR #632 fixed an interop issue with ACA-Py. ACA-Py would remove leading 0's from numeric strings when encodign indy values, while AFJ would not do that. This would results in errors as we couldn't verify the encoded values matched the raw values.

After doing some interop testing between AFJ 0.1.0 and 0.2.0 it not seems this broke interop with AFJ 0.1.0. This issue is to discuss whether we should

[2022-06-19 16:41] TimoGlastra opened #884 "const enums can't be used after code is transpiled"
We've started using const enums in a few places throughout the framework. Although lighter, I've noticed they can't be used after code is transpiled (in react native which uses a custom ts compiler I think).

Due to this I think it may be better to keep using normal enums for now (to stay consistent across the framework). We can then later look at using other types of enum methods that can be used

[2022-06-19 16:46] #734 closed

[2022-06-19 16:53] TimoGlastra opened #885 "No way to get the offered attributes for a credential offer"
Now that the attributes aren't stored anymore in the credential record until after a credential offer has been accepted, there's no easy way to get the credential preview attributes.

E.g. for v1 it looks like this, for v2 it needs a bit different code:

[code]

I think we should do something like we did in #877 (probably extend the method added in that PR) where we can retrieve the (indy) attribu

[2022-06-20 08:13] TimoGlastra commented on #875
Hi @Iskander508, is this something you planned on working on? Would like to get this in before the 0.2.0 release. If not I can take a look at it, but don't want to void your work.

[2022-06-20 08:51] blu3beri commented on #883
Thats a difficult one. I think that numbers with leading zeros should be treated as strings.  Your example of the security code is a valid use case where you would like to keep this. Any non-leading-zero int32 can just be kept as a number. I do believe however that this does remove range proofs on the value, but I might be mistaken and a string -> number conversion is done before the range proof.

[2022-06-20 09:03] TimoGlastra commented on #883
Yes this will make range proofs impossible on values with leading zeroes. So if we e.g. want to check if your security code is >= 100 we wouldn't be able to do that.

@swcurran do you have any thoughts on this issue?

[2022-06-20 11:13] #868 closed

[2022-06-20 11:13] #885 closed

[2022-06-20 11:39] #884 closed

[2022-06-20 12:26] #742 closed

[2022-06-20 14:01] #875 closed

[2022-06-20 15:12] Amit-Padmani opened #891 "credential exchange record is broken for V1 and V2"
I found the different between V1 and V2 credential exchange record in the latest version of AFJ. In V2 credential record I am not receiving the `credentialAttributes`, Also in V1 credential record I am not getting the schema id and credential definition id which was initially present into the `metadata` of the credential record .

I am using the below version of AFJ
"@aries-framework/core": "0.2.0

[2022-06-20 15:37] TimoGlastra commented on #891
Hi @Amit-Padmani it is expected the attributes are not stored on the record anymore since a recent PR. We only store the attributes / metadata in the record after you've accepted the offer. It is weird however that the v1 record does have the attributes, and I've created a PR to fix this: #892

This doesn't solve your issue however. For that, please see the following section in the update document

[2022-06-20 17:08] TimoGlastra opened #894 "Fix flaky tests that start event listener after performing an action"
We only start event listeners after an actions has been performed (sendProposal -> start proposal received listener) in most e2e tests, while we should be starting the listener before performing the action (start proposal received listener -> sendProposal) to prevent flaky tests.

I've fixed it for one file as example (#893 ), but we should look at all ICv2 and PPv2 tests (that's where we use even

[2022-06-21 10:07] nbAmit opened #895 "imageURL is missing in connection record"
I am not getting the Image URL in the connection record after accepting the invitation which contain the `imageUrl` property.
To resolve this I think we have add `imageUrl` property in `createRequest` method

[code]

[2022-06-21 11:32] TimoGlastra commented on #895
Thanks for opening this issue @nbAmit. Are you willing to open a PR for this?

[2022-06-21 11:34] nbAmit commented on #895
@TimoGlastra Sure, I will do that

[2022-06-21 13:12] TimoGlastra opened #897 "shouldAutoRespondToPresentation should take into account `isVerified` property on proof record"

[2022-06-22 10:05] morrieinmaas commented on #859
@blu3beri do you mean `and if so, fetch them anyways` instead of `and if not, fetch them anyways`?

[2022-06-22 11:55] niallshaw-absa opened #899 "Mediation issues with multiple agents attempting to connect concurrently"
We are encountering multiple issues (with not an individual identifiable cause) when attempting to initiate mediation with a single mediator agent from up to 30 client agents simultaneously.
Mediator agent is running mysql, via vdr-tools (a fork of indy-sdk) binary.

Some of the errors that have been occurring include the following:

- SIGSEV (Segmentation fault)
- Heap corruption
- `DEBUG: Reques

[2022-06-22 12:16] TimoGlastra commented on #899
Thanks for opening this issue @niallshaw-absa! I think there's still lots to improve in running AFJ server side.

I'll think about some things we can do to improve this. Do you have any suggestions on how we can best solve this?

[2022-06-22 12:18] niallshaw-absa commented on #899
@TimoGlastra - nothing concrete, potentially a queue system for the queries, but that's just me spitballing

[2022-06-22 16:58] sheraliinamdar opened #901 "AFJ holder agent submitting invalid proof to ACA-PY 0.7.4-rc1 version"
Hi Team,
     We are using aca-py 0.7.4-rc1 and holder agent is AFJ 0.1.0 and whenever we are presenting the proof with valid credentials it is failing because of our holder agent is missing some time stamp while presenting the proof.  Here is the reference of issue https://github.com/hyperledger/aries-cloudagent-python/issues/1806. it would be great if you provide some pointers to resolve this is

[2022-06-22 21:06] TimoGlastra commented on #901
See my comment in https://github.com/hyperledger/aries-cloudagent-python/issues/1806, this is fixed in 0.2.0 (soon to be released)

[2022-06-22 21:06] #901 closed

[2022-06-23 11:31] janrtvld opened #902 "Protocol version type incompatible in CredentialModule"
Im trying to convert the rest api to use AFJ interfaces. In this case im using the `OfferCredentialOptions` interface to offer a credential.

[code]

I'm getting the following type error:

[code]

If i serialise it it works fine.
[code]

[2022-06-23 13:39] TimoGlastra commented on #902
However this was one of the issues I opened in TSOA as it doesn't infer the type of the interface correctly. It will infer it as:

[code]

While it should actually be a deeply nested type. To get around this, I had to declare it like this manually:

[code]

[2022-06-24 08:33] TimoGlastra opened #905 "0.3.0 branch doesn't work in react native environment"
Hey folks! I've just tried to run this within a React Native environment--has that been recently tested? I've ran into a number of issues. The most problematic though is that the documentLoaderNode `require`'s `https`, which doesn't work in a RN context. I noticed [Karim's addition](https://github.com/hyperledger/aries-framework-javascript/pull/795/commits/c4fd640a8c8dcd0d3aa5d68cda88b19879a91664)

[2022-06-24 10:27] #891 closed

[2022-06-24 19:14] JamesKEbert commented on #905
I'll note, if helpful, that in order to get the Mattr bbs-signatures library to be overridden according to the docs

with `react-native-bbs-signatures`.

I could not get the yarn docs to work. The npm override I _did_ get to work, however it created an alias/symlink, which React Native doesn't follow (https://github.com/facebook/metro/issues/1). So, in order to get it to work I had to in addition

[2022-06-27 15:41] TimoGlastra commented on #902
it should be `v1` ;)

[2022-06-28 13:37] TimoGlastra commented on #859
For schemas, yes that would work. For credential definitions we should throw an error in case 2.

[2022-06-29 11:36] dnaicker opened #912 "@aries-framework/core"' has no exported member named 'HttpInboundTransport'"
I get the following error:

[code]

When I try to setup the agent in NodeJS using Typescript:

[code]

[2022-06-29 12:33] TimoGlastra commented on #912
Ah this is a mistake in the docs. `HttpInboundTransport` should be imported from `@aries-framework/node`...

So:

[code]

@blu3beri could you fix this in the documentation (we should probably also extract the setup to snippets): https://aries.js.org/guides/getting-started/set-up

[2022-06-29 13:23] dnaicker commented on #912
Thank you soo much for the help!

[2022-06-30 05:01] dnaicker opened #915 "Unable to resolve module ./agent/EventEmitter from "node_modules\@aries-framework\core\build\index.js""
I get the following error when starting a new React project and setting up Android and App.js for Aries Framework:

![image](https://user-images.githubusercontent.com/7840952/176595902-468aac4b-746d-4e62-b7f1-ebeea15ef637.png)

[2022-06-30 05:47] itsdheerajbudhiraja commented on #599
Hi @standlove , Did you found any solution to this problem?

I am also facing this similar issue and inconsistency in AFJ 2.0 - With AFJ 1.0 it was working fine for me but After upgrading framework and stress testing App, I am facing this.

Connection fails intermittently - Payload is received from mediator but not processed by Agent message subscription.

After that all messages from mediator rem

[2022-06-30 06:09] dnaicker opened #916 "indy-sdk-react-native maven and compileSdkVersion"
When trying to run the React Native Android setup using the install guide:

- `indy-sdk-react-native` is required after `importing aries` and adding agent to `App.js`, this hasn't been mentioned in the setup docs yet.
- When doing an android run command, it displays two errors related to `indy-sdk-react-native` not being able to compile:

1. `Plugin with id 'maven' not found.`
2. `compileSdkVersio

[2022-06-30 07:10] TimoGlastra commented on #915
Can you check if you fully re-install dependencies and rebuild the app if this still happens? I'm not experiencing this issue myself, and I'm certain the file does exist, so I'm guessing it is a loader / bundler issue.

If the issue persist, can you provide me with a repository that reproduces the error?

[2022-06-30 08:03] TimoGlastra commented on #916
Thanks for raising this issue @dnaicker! I've responded to your issue in the indy-sdk-react-native repo

[2022-06-30 08:04] TimoGlastra commented on #916
What do you mean exactly with this?

[2022-06-30 09:39] #912 closed

[2022-06-30 13:34] TimoGlastra opened #917 "bbs documentation"
As the documentation has been removed we should add this to the aries javascript docs repo once it will be released:

General note:
Right now, as a patch that will later be changed, some platforms will have an "error" when installing the dependencies. This is because the BBS signatures library that we use is built for Linux x86 and MacOS x86 (and not Windows and MacOS arm). This means that it will

[2022-06-30 14:51] 2byrds opened #918 "Update CONTRIBUTING.md to include lessons learned from the 0.2.0 release"
Modify https://github.com/hyperledger/aries-framework-javascript/blob/main/CONTRIBUTING.md to include some of the lessons learned from the 0.2.0 release.
That conversation started here https://wiki.hyperledger.org/display/ARIES/2022-06-30+Aries+Framework+JS+Meeting+notes
And we should also update the Aries JS docs https://github.com/hyperledger/aries-javascript-docs for how to contribute in genera

[2022-06-30 15:12] dnaicker commented on #916
When running `npx react-native run-android` the application builds successfully although upon loading of the app in android the following error displays: `"Unable to resolve module indy-sdk-react-native" from react-native\build\index.js`

![Screenshot_20220630-170744_ReactNativeTest5](https://user-images.githubusercontent.com/7840952/176713045-3d714e4c-984b-4dd1-b1b7-f7a015fde71c.jpg)

[2022-06-30 17:02] TimoGlastra commented on #916
Thanks for bringing that up, I've opened an issue in the docs repo and will add it asap: https://github.com/hyperledger/aries-javascript-docs/issues/47

[2022-07-01 12:26] TimoGlastra commented on #905
Related issue: https://github.com/hyperledger/aries-framework-javascript/issues/917

[2022-07-01 12:27] TimoGlastra commented on #905
Also need to add resolutions/overrides for all digital credentials libraries (such as https://github.com/digitalcredentials/jsonld-signatures)

[2022-07-01 20:24] swcurran commented on #599
I'm wondering if this is related to this PR/issue that @dbluhm opened against ACA-Py -- https://github.com/hyperledger/aries-cloudagent-python/pull/1851.  Given the intermittent nature of what you are seeing, it's possible this is the issue. The Indicio Mediator is built on ACA-Py.

[2022-07-02 09:34] itsdheerajbudhiraja commented on #599
@swcurran Great PR, I will test this PR as mediator and will try to see if connection issue still persist.

[2022-07-02 17:17] TimoGlastra commented on #599
Thanks for this insight @swcurran. @itsdheerajbudhiraja & @standlove I just ran into this issue myself since a few days when I started connecting two mobile devices instead of a cloud agent to a mobile device. What I think might the issue here is that when connecting with a cloud agent you're using return routing for creating the connection so there's less of a race condition (as there's more time

[2022-07-02 18:55] #916 closed

[2022-07-03 08:20] TimoGlastra commented on #599
After looking at the mediation implementation in AFJ it is already waiting for the response, so that can't be the cause here. As the client determines whether to wait and AFJ does wait I don't think this is related to @dbluhm fix's after all

[2022-07-03 12:14] TimoGlastra opened #923 "CI is broken in 0.3.0-pre branch"
Opening a dedicated issue to track progress on fixing CI in 0.3.0-pre. It's failing consistently.

[2022-07-03 18:02] TimoGlastra opened #925 "Add deleteById method to storage service that doesn't require the record"
Currently when deleting a record you need to pass the record to the repository / storage service to delete the record. This is not a limitation from the indy-sdk and means you sometimes have to fetch the record just to delete it.

[2022-07-04 05:02] itsdheerajbudhiraja commented on #599
@TimoGlastra  The exact issue which I am facing right now is - Asynchronously errors are being thrown by AFJ in react native env.

When autoAcceptInvitation is enabled - `[AriesFrameworkError: Connection record is in invalid state response-received. Valid states are: response-sent.]`
(State is changing to response-sent before auto accept invitation flow even executes)

This is crashing the connect

[2022-07-04 09:07] dnaicker opened #928 "Query: is there a way to generate libindystrgpostgres.dll?"
- I generated `libindystrgpostgres.so` file for postgres in WSL2, can it be used anywhere in Windows to integrate into Android React Native build or somewhere else?

- Is there a way to generate `libindystrgpostgres.dll`?

- How would one go about interacting and using `libindystrgpostgres.so/dll` for development?

[2022-07-04 10:04] TimoGlastra commented on #928
Hi @dnaicker, I'm not familiar with using the postgres plugin on windows.

Have you seen the documentation (it misses Windows setup, but may help): https://aries.js.org/guides/tutorials/postgres-database-nodejs

Do you want to connect from the wallet to the postgress database directly? I've never seen that pattern before, curious what your use case here. I think a more common approach is to create

[2022-07-04 11:23] vk1992op opened #929 "Signed invitation object"
It seems that connection invitations are prone to MITM attacks, by replacing the invitation link.

**Is there a way to sign the invitation in the current implementation of the framework?**

Maybe using the signing interface of the wallet module?

[2022-07-04 11:25] blu3beri commented on #928
I don't quite understand what you mean. You cannot use the indypostgres storage right now in a React Native environment as the bindings are only created for Node.js.

If you want to use the plugin for Windows, you could create the `.dll` yourself:

[code]

Starting the node process with the plugin:

[code]

Hopefully it answers your question or points you in the right direction.

[2022-07-04 11:39] TimoGlastra commented on #929
Signing invitations wouldn't really solve the MITM attack. As a malicious user in the middle I could create a new signed invitation and share the with the invitee. They will connect to me, and I in turn will connect to the original recipient.

Because we're already signing the connection response with the key from the invitation we can be sure we're talking to the party from the invitation.

I rec

[2022-07-04 11:55] vk1992op commented on #929
Thank you for the quick response. I think, having the other discussion in place, we can consider this a closed issue.

[2022-07-04 13:20] genaris commented on #599
We were experiencing similar issues, with React Native in particular (especially when using real mobile devices). I was blaming our code or AFJ's mediator socket handling (as we are using AFJ in both sides), but it seems that it's something on the client/mediatee side. And it's worth noting that we don't have this problem with agents based in NodeJS.

BTW @itsdheerajbudhiraja what's the global err

[2022-07-04 13:50] itsdheerajbudhiraja commented on #599
@genaris  I used react-native-exception-handler to handle app crashes for now.
https://www.npmjs.com/package/react-native-exception-handler

 But connection once failed will remain failed - And after connection similar issues are faced in Credentials issuance also.

I tries NodeJS env - Working without issues. So hard to say issue in AFJ framework. But at same time there is nothing much we can do

[2022-07-05 04:39] dnaicker commented on #928
Thank you @blu3beri yes this helps a lot.

Thank you @TimoGlastra the instructions on https://aries.js.org/guides/tutorials/postgres-database-nodejs help a lot as well on how to utilise the plugin.

[2022-07-05 05:08] dnaicker commented on #928
@blu3beri When I try to build the `libindystrgpostgres.dll` on windows, I get the following error:

[2022-07-05 05:14] TimoGlastra commented on #928
@sairanjitAW were you able to build the Postgres plugin for windows?

[2022-07-05 11:59] sairanjitAW commented on #928
@TimoGlastra Yes I was able to build it.

[2022-07-05 13:25] sairanjitAW commented on #928
@dnaicker I have added a PR for the docs for Postgres plugin for windows
https://github.com/hyperledger/aries-javascript-docs/pull/50
if everything works fine according to the docs we can then merge the PR

[2022-07-05 15:33] TimoGlastra opened #933 "Add .e2e.test.ts extension to all e2e tests"
This allows to easily determine whether a test is an e2e test and also allows to ignore e2e tests using `yarn test -testPathIgnorePatterns "e2e.test.ts"`

[2022-07-05 15:34] TimoGlastra opened #934 "Add test utils package"
We should add a test utils package that exposes some commonly used utils for testing. This will make it easier to write tests from other modules. This will be a private package and won't be published to npm, it's only for internal use

[2022-07-06 15:51] TimoGlastra commented on #928
@dnaicker I've merged the docs PR from @sairanjitAW with instruction on how to build the postgres plugin for windows. Please open a new issue if you're still encountering issues

https://aries.js.org/guides/tutorials/postgres-database-nodejs/windows

[2022-07-06 15:51] #928 closed

[2022-07-07 08:28] blu3beri commented on #923
I will take a look at this today.

It seems that the node-bbs-signatures fails on Linux + node 17/18 and possibly more node versions.

[2022-07-07 08:37] TimoGlastra commented on #923
Do you know if these node versions are supported? If node 17/18 are not supported there's nothing we can do about it 🤷. We should just be clear to document it in that case and skip tests for bbs in node 17/18

[2022-07-07 15:23] dnaicker opened #939 "Query: is there a list of all available functions that one can call for connection, issuer or verifier to expand upon the sample docs tutorial?"
I wanted to find out if there is a list of functions, documentation-directory wise, that are available to expand upon the functionality presented in the online tutorial documentation?

For instance if an invitation is already received, how would one check existing invitations against account holder, is there perhaps a function one could call to acquire that information?

[2022-07-08 08:30] TimoGlastra commented on #939
Hi @dnaicker, I'm not sure if I fully understand your request. I've created a template in the docs repo, could you open an issue there?

https://github.com/hyperledger/aries-javascript-docs/issues/new?assignees=&labels=request&template=documentation-request.yml&title=%5BRequest%5D%3A+

[2022-07-08 08:30] #939 closed

[2022-07-09 12:47] genaris commented on #727
Is anyone working on this at the moment? Otherwise I can pick it up (yeah I know, nice pun :smile:)

[2022-07-10 11:09] TimoGlastra commented on #727
I'm not aware of anyone working on this, so it's yours to take!

If you're doing some refactoring, we also have this issue to untangle all of the routing protocols into separate services, maybe it helps to keep that in mind and make some first steps at it for the pickup v2 protocol: https://github.com/hyperledger/aries-framework-javascript/issues/800

[2022-07-12 14:13] morrieinmaas opened #944 "add `indyNamespace` to the indy ledgers configuration (need to document this: https://hyperledger.github.io/indy-did-method/#indy-did-method-identifiers)"
- add `indyNamespace` to the indy ledgers configuration (need to document this: https://hyperledger.github.io/indy-did-method/#indy-did-method-identifiers)
- add fully qualified identifier to the anon creds (schema|credential definition) records (replace the non qualified identifier before storing and after retrieving it). For indy we use the did:indy spec identifiers to store.
  - Note: Records s

[2022-07-12 14:14] morrieinmaas commented on #944
@TimoGlastra can you assing me, please

[2022-07-13 22:03] TimoGlastra opened #947 "What to do if session couldn't be acquired for incoming message"
The tenant module has a limit on max concurrent open sessions, and a timeout to acquire a session. If the max has been reached and a sessions doesn't get released within the timeout (either because there's a queue or the sessions take long) an error will be thrown and the session creation will be aborted.

This is 'fine' when you want to get a tenant agent, as it will throw an error and your sessi

[2022-07-14 13:03] TimoGlastra opened #948 "Extract bbs dependencies into @aries-framework/bbs-signatures packages"
See https://hackmd.io/6eXZcMhdQR-QCNPMFYTvuA?view#W3C-Credentials

All code that uses the mattr bbs libraries should be extracted to the `@aries-framework/bbs-signatures` which can then be dynamically added if bbs support is desired. This way you're not forced to add yet another native binary to your mobile app (this is where it counts the most).

[2022-07-14 14:55] TimoGlastra commented on #947
Ideas:
- retry multiple times
- dedicated set of sessions for inbound message processing
- higher priority for incoming messages
- make 1 second provide a warning and then 3-5 seconds is the error—that way it doesn’t blow up as readily for individuals without giving them advanced warning

[2022-07-15 08:15] morrieinmaas commented on #947
Suggesting option retry multiple times is a good initial step, because:

1. Cheap and straight forward to implement
  a. Fail to acquire throws an error -> catch it and retry (only needs a counter and try/catch
2. Can also include a 'send problem report' back after all retries fail.
3. keeps logic simple and within what a framework should do as opposed to adding a queue or db or other infrastructu

[2022-07-15 08:34] dnaicker commented on #939
Thank you Timo

[2022-07-15 08:36] TimoGlastra commented on #947
Makes sense @morrieinmaas! Some notes

We should probably add a custom error that extends the aries framework error so we can catch the specific error type. I think it now just throws an aries framework error.

That'll be tricky as we need a session to decrypt/encrypt the message. So we would need to send an unencrypted message, or we would need to look at a way to encrypt the message in anoncrypt

[2022-07-15 08:39] morrieinmaas commented on #947
@TimoGlastra hmm, interesting thoughts. I'll have to have a more detialed look at this before I can give a (more) qualified feedback.

[2022-07-19 15:00] TimoGlastra opened #954 "Allow to pass did when creating invitation"
When creating an invitation we currently generate a peer did doc by default. In addition it would be nice if we can add an optional did property when creating an out of band invitation. The did can be created beforehand using the did registrar (#953). It is the responsibility of the user to make sure the did contains did comm services (we could add a check).

This would allow to use public dids fo

[2022-07-20 20:43] TimoGlastra opened #956 "Pickup protocol returned in discover features protocol, but only supported on the client"
When using mediation in AFJ as the client and also using AFJ as the mediator without configuring the pickup strategy it will try to determine the pickup strategy using feature discovery.

Afj as a mediator will return it supports the pickup v2 protocol, but this is only partly true. AFJ supports the pickup v2 protocol as a client.

This means detecting the pickup protocol from an AFJ mediator has

[2022-07-20 21:50] karimStekelenburg commented on #923
Adding the test results I previously posted in #935 here for context:

### Ubuntu
#### Specs
![CleanShot 2022-07-08 at 03 06 55](https://user-images.githubusercontent.com/18397186/177896428-f31cc549-80ce-484d-839d-f9f825c0881b.png)

#### Results for Node v14.19.3
![CleanShot 2022-07-08 at 02 52 42](https://user-images.githubusercontent.com/18397186/177896526-0a858c49-a5af-432f-b22a-b962a8639a34.pn

[2022-07-21 12:08] TimoGlastra opened #957 "Generate seeds using @stablelib/random"
We could use `@stablelib/random` for this right? https://github.com/StableLib/stablelib/blob/d8b909d49245c040e5e4a59ff8c9b269fc1781ee/packages/random/random.ts#L52

_Originally posted by @blu3beri in https://github.com/hyperledger/aries-framework-javascript/pull/953#discussion_r925283552_

We need to check whether @stablelib/random works in react native through react-native-get-random-values

[2022-07-21 12:25] blu3beri commented on #957
the bbs-signatures library from mattrglobal uses it for the randomness of the seed.

https://github.com/mattrglobal/bbs-signatures/blob/3a55cffdda65f894e4e9a2bd89aa9ce483c611c0/src/js/wasm_module.js#L16

`@stablelib/random` detects platform and sets randomnesssource here: https://github.com/StableLib/stablelib/blob/d8b909d49245c040e5e4a59ff8c9b269fc1781ee/packages/random/source/system.ts#L8

- Nod

[2022-07-21 12:33] TimoGlastra commented on #957
react-native-get-random-values polyfill the browser crypto object, so it should just work. The only thing where it could fail is if stablelib/random fails to detect the RN envrionment as a browser environment. I'll quickly test it/

[2022-07-21 12:41] blu3beri commented on #957
Okay thats sad. I am not sure if `@stablelib` is big on RN support but we could add it.

[2022-07-21 12:44] TimoGlastra commented on #957
Yeah we don't even need to add a dependency, just extend the browser check to also work in the case of RN

https://cs.github.com/StableLib/stablelib/blob/d8b909d49245c040e5e4a59ff8c9b269fc1781ee/packages/random/source/system.ts#L8

I think the issue is that is checks for `self.crypto`, and we need to check for just the `crypto` global

[2022-07-21 12:49] blu3beri commented on #957
Yeah that seems very likely. Could you test that in your test app? just patch the node module.

[2022-07-21 13:03] TimoGlastra commented on #957
It does work 🎉, I just imported the react-native-get-random-values library at the wrong place so @stablelib/random got imported before. Adding it as the first thing in index.js fixed it and it seems to work out of the box.

So we can just make a PR and start using that as the seed generator

[2022-07-28 09:50] dinkar-jain opened #968 "RecordDuplicateError: CacheRecord: Record with id DID_POOL_CACHE already exists"
While accepting multiple credential offers at the same time the above error mentioned in the title is originating.
Error Line - `await agent.credentials.acceptOffer(payload.credentialRecord.id);`
Error :-
`/home/ubuntu/CertificateX/backend/node_modules/@aries-framework/core/build/storage/IndyStorageService.js:123                                                                                throw

[2022-08-04 02:33] amanji commented on #567
I think this can be closed.

[2022-08-04 02:33] amanji commented on #568
This issue can now be closed.

[2022-08-04 02:33] #568 closed

[2022-08-04 02:34] #567 closed

[2022-08-06 16:38] hyperledger-bot opened #973 "Create a MAINTAINERS.md file"
Example: https://github.com/hyperledger-labs/solang/blob/main/MAINTAINERS.md Example of a pointer: https://github.com/hyperledger-labs/homebrew-solang/blob/main/MAINTAINERS.md

[2022-08-08 09:23] TimoGlastra commented on #968
Interesting @dinkar-jain. This is probably because you're calling multiple methods that try to create the record at the same time. We have another issue like this here: https://github.com/hyperledger/aries-framework-javascript/issues/899

We should put a lock on such actions so it won't be possible to executre such actions in parallel and they'll instead wait on each other, or we already need to c

[2022-08-08 09:49] blu3beri commented on #968
+1 for using a mutex to add locks in AFJ. However, is there a reason why we the cache record has a default `DID_POOL_CACHE` id? I am very unfamiliar with the caching system that we use.

[2022-08-08 12:02] TimoGlastra opened #977 "LedgerService to AnonCredsResource Service"
As we want to support other ledger types with AnonCreds credentials we need to generalize the IndyLedgerService. #971 already extracts the indy ledger service methods into a ledger service interface. To fully make it generic I propose we also take the following steps:

- Rename `LedgerService` -> `AnonCredsResourceService`. This better reflects that it is only about anon creds, removing ledger mea

[2022-08-08 12:02] #973 closed

[2022-08-08 15:48] dinkar-jain commented on #968
Thanks @TimoGlastra. async-mutex library worked like a charm. The code is properly working now.

[2022-08-08 16:28] TimoGlastra commented on #968
Great to hear! Reopening this issue as it would be nice to fix it in AFJ itself

[2022-08-08 17:43] swcurran commented on #977
Good to see this initiated.  Please make sure as you progress on this that you let the AnonCreds Specification Working Group know what you discover (see the in progress [AnonCreds Specification](https://anoncreds-wg.github.io/anoncreds-spec/), and the [associated repository](https://github.com/AnonCreds-WG/anoncreds-spec) ).  We're having a number of conversations there, and in the ACA-Py User Gro

[2022-08-08 20:02] dinkar-jain commented on #968
@TimoGlastra Sure. Should we use mutex in AFJ itself??

[2022-08-09 07:41] blu3beri commented on #977
Definitely in favour of this separation. In regards to point 4, I think we should do that if it does not cause too much overhead. Making a new resourceService should be as easy as possible. A couple of AFJWG calls back we saw an integration with Fabric. They did a lot of custom work around and it if we really want to see more support for different resources we should definitely put some work in th

[2022-08-09 08:17] tipusingh commented on #925
I want to work on this issue please, assign me on this.

[2022-08-09 09:07] TimoGlastra commented on #925
Awesome! It's yours :)

Let me know if you have any questions

[2022-08-10 11:27] genaris commented on #977
Absolutely agree on going on with this generalization now, especially considering that we are not so far away from starting integration with Indy shared components.

In Aries world I'm more familiar to the term Verifiable Data Registry as a generic replacement of Ledger, so I'd prefer the service rename to `AnonCredsVDRService` or  `AnonCredsRegistryService`. I think other Aries frameworks (such a

[2022-08-10 15:33] genaris commented on #495
It looks like this is will have some priority in the short term, as it is required for AIP 2.0 compatibility and also it becomes more important as framework is growing (as shown in #956). Is there any ongoing work on this issue?

It's not so trivial to implement, as currently Discover Features module is using Agent Dispatcher to tell which protocols it supports and this is limited to message types

[2022-08-11 08:33] blu3beri commented on #977
I would also give my preference to either of those. Maybe I would lean slightly towards `AnonCredsVDRService` as the `Verifiable` is an important part. If we would allow "non-verifiable", not sure on the use case, then `AnonCredsRegistryService` would be better.

[2022-08-11 08:39] TimoGlastra commented on #495
I don't think anyone is working on this, so feel free to pick this up! :)

Yeah I think we should have some sort of protocol registry. We currently register the handlers on the dispatcher, but if we extract that to a separate protocol registry where you can register handlers (for message types) but also decorators, roles for a protocol and other items so it can be extended beyond the current known

[2022-08-11 08:42] TimoGlastra commented on #977
As you can see in this PR to the AnonCreds spec: https://github.com/AnonCreds-WG/anoncreds-spec/pull/64/files?short_path=256cfc3#diff-256cfc3dda8d0d005a6f2df643ba5b9b1a0e002c10524d8fb7af1083951b7d1d

there will be support for fetching anon creds objects from an http server in which case it won't be verifiable. So we should probably go with `AnonCredsRegistryService` then. This will be the generic

[2022-08-15 21:20] swcurran commented on #883
Sorry for the long delay in responding to this.

The key to the answer is found here in [RFC0592 Indy Attachments - Encoding Claims sections](https://github.com/hyperledger/aries-rfcs/tree/main/features/0592-indy-attachments#encoding-claims) (misnamed - should "AnonCreds Attachments" -- but that's for another day). And in that, we have a lovely contradiction.

- On the one hand, we have a rule tha

[2022-08-16 14:57] JamesKEbert commented on #883
I'd agree with Stephen's thoughts here--I think that as long as the frameworks handle the encoding consistently then we're okay. I'd also agree with the need/desire to update the RFC with a clarification.

[2022-08-17 12:35] #925 closed

[2022-08-17 18:31] dineshnextbrain opened #984 "git clone issue with packages/core/src/modules/dids/methods/peer/__tests__/DidPeer.test.ts"
![image](https://user-images.githubusercontent.com/111457365/185216093-9fdc84bf-5cc3-4992-9c7a-e9f163af673b.png)

[2022-08-17 18:40] blu3beri commented on #984
@TimoGlastra did you not fix this?

[2022-08-18 17:41] genaris commented on #984
It seems that there were two cache files added in #717 while #963 only removed one.

[2022-08-18 17:46] genaris commented on #984
BTW @dineshnextbrain what's the environment (OS, Git client version, etc.) where this issue can be reproduced? I've tested current repo status under Windows 10 21H1 and Git 2.11.1.windows.1 and checks out main branch properly.

[2022-08-18 18:04] #984 closed

[2022-08-19 01:03] genaris commented on #495
I kept thinking about this these days and my current idea is to define a 'FeatureRegistry' with the capabilities of registering items (features) you mentioned, that will be queried by DiscoveryFeatures module when some agent.

A good entry point for that feature registration can be the Module Registration API that will be fully available for 0.3.0, so I was thinking on going straight there. Howeve

[2022-08-19 08:43] niallshaw-absa commented on #899
Fixed in https://github.com/hyperledger/aries-framework-javascript/pull/985

[2022-08-19 21:57] #899 closed

[2022-08-22 13:52] dineshnextbrain opened #987 "Getting issue related to indy-sdk while doing npm/yarn install in windows"
![image](https://user-images.githubusercontent.com/111457365/185937165-f8810808-76ca-4017-aa10-7464f4ccfb23.png)

[2022-08-22 14:02] blu3beri commented on #987
Hi,

1. Do you have a full stack-trace available?
2. Did you install the indy-sdk according to the guides? (https://aries.js.org/guides/getting-started/installation/nodejs/windows)

[2022-08-23 09:50] blu3beri opened #988 "Public API that accepts classes"
Our public API, e.g. `agent.oob.createInvitation(config)` accepts instances of a `Key` class, instead of simple JSON, for the `routing` property. This makes the API for a controller more complicated.

I think this should be replaced with the values which we can use to instantiate the class internally. It is much easier for the user to supply a json object then to instantiate the class only for usi

[2022-08-23 09:51] blu3beri commented on #988
If agreed I can pick this up and we might be able to add this in with the `0.3.0` release.

[2022-08-24 07:43] janrtvld commented on #988
I ran into this issue with the REST api where you can pass the`Routing` object as your invitation config. I have removed the prop for now.

[2022-08-26 09:43] TimoGlastra commented on #988
Very much agreed @blu3beri. We should try to only use interfaces for the public api.

[2022-08-26 09:45] TimoGlastra opened #992 "Support receiving out of band invitations with public dids for the didexchange protocol"
#930 adds support for receiving out of band invitations with public dids, but only supports processing it for 0160 connections. We should still add support to do this with the didexchange protocol

[2022-08-26 10:02] nbAmit opened #993 "Unable to resolved https module in react-native"
Unable to resolved `https` module from `/node_modules/@digitalcredentials/js onld/lib/documentLoaders/node.js `

I am trying to use PPV2 in react-native from branch `0.3.0-pre`, Once I installed the packages and trying to run the app I am getting below error.

<img width="1356" alt="Screenshot 2022-08-18 at 3 31 52 PM (1)" src="https://user-images.githubusercontent.com/91456036/186880157-5a0676c5-

[2022-08-26 10:08] TimoGlastra commented on #993
Can you add some context on what you're trying to do, which environment you're in, maybe a code example, etc..???

[2022-08-26 12:40] 2byrds commented on #894
Timo started this work here: https://github.com/hyperledger/aries-framework-javascript/pull/893/files
I learned from that and added more ICv2 tests here: https://github.com/hyperledger/aries-framework-javascript/pull/966
We'll tackle PPv2 tests in another PR since that module has changed significantly.

[2022-08-29 16:19] TimoGlastra commented on #495
Why would it need to be changed?

---

If this is a desired feature for 0.2.x then I think the aproach as you mentioned seems fine. Even for 0.3.0 it seems like a fine approach to me. 👍

[2022-08-30 08:11] #753 closed

[2022-08-30 09:18] #353 closed

[2022-08-30 09:18] TimoGlastra opened #996 "Write migration script for present proof in 0.3.0"

[2022-08-30 09:20] TimoGlastra opened #997 "present proof module update creation of connectionless request"
Same as done with the credentials module: https://github.com/hyperledger/aries-framework-javascript/pull/772

[2022-08-30 09:22] TimoGlastra opened #998 "How to run migration scripts for tenants"
At what time and how do we trigger it? Probably easiest to do when a wallet is openend, but that can create quite some load when you want to use a wallet, so there should be a way to do it beforehand

[2022-08-30 13:38] dineshnextbrain opened #1000 "How to find X-API_key in demo app to run in the postman?"
We have planned to run the API in the postman. We are new to hyperledger, please guide us on this.

[2022-08-31 11:16] dineshnextbrain commented on #987
![image](https://user-images.githubusercontent.com/111457365/187666318-14ee6b75-7742-46ef-b2b9-f3901c5015f1.png)

facing issue with indy-sdk in windows

[2022-09-01 10:08] garretaserra opened #1002 "Review Back Off strategy for webscoket reconnection"
## Current Problem
I am using a mobile agent so losing connection now and then is common and also for significant periods of time, not sure how this affects other type of agents.

From what I can see on the RecipientModule in the openWebScoketAndPickUp function there is a subscription to the WebSocket closing event so that a reconnection is tried in the future.

The interval is initially set at 50

[2022-09-01 10:30] TimoGlastra commented on #1002
I agree with the issue you raise here. Because most servers don't use heartbeats, the socket will be closed after a while which triggers the exponentional backoff quite often.

We should make this timeout configurable. Starting with 0.3.0 we configure modules per module, so it bloats the global config a lot less. For now we can add it to the global agent config.

Would you be willing to open a PR

[2022-09-01 11:31] genaris commented on #1002
Absolutely agree! This problem is one of the reasons why we've recently added methods for stopMediationPickup and initiateMessagePickup manually, so the app can subscribe to network events and control the framework accordingly. And there are several improvements and refactors to be done for 0.3.0 to make this more intuitive and useful.

I do also think that an initial interval of 50 ms is too real

[2022-09-01 14:54] #494 closed

[2022-09-01 15:19] garretaserra commented on #1002
I can make a PR for this.
Do you think that the 50 ms interval value should also be configurable? It seems kind of arbitrary,
Should the `minMediatorReconnectionInterval` be defaulted to 0 (keep current behavior as default) or should I set it to 1 second?
Same for the `maxMediatorReconnectionInterval` should I set it to a default of 10 seconds or if not provided do not have maximum value (keep cur

[2022-09-01 18:26] genaris commented on #1002
Great! Find me in Discord (GenAris#4962) if you need some help in setting up environment for AFJ. To be more aligned with terms of exponential backoff algorithms and other configs within AFJ, I would say the two parameters to set up in agent config must be:
- **baseMediatorReconnectionIntervalMs** (b): defaults to 50 (current behaviour). So attempts will be done in b, 2*b, 4*b, 8*b, etc.
- **maxim

[2022-09-01 22:29] genaris commented on #755
Can this be considered to be completed now that Proofs module has been refactored in 0.3.0-pre branch?

[2022-09-01 23:02] genaris commented on #859
Guys, could this be considered as closed provided #900 is merged, or there is something else missing?

[2022-09-01 23:05] genaris commented on #497
I'll take a look at this one. For RFC 0211 usage of did:key maybe we can do something with Discover Features V2 to determine the key format to use.

[2022-09-02 07:26] blu3beri commented on #859
Closed as #900 is merged.

[2022-09-02 07:26] #859 closed

[2022-09-02 08:14] TimoGlastra commented on #755
No not yet. It could however be separated into two issues:
1. Make the public api of both APIs consistent. This means adding missing methods (getFormatData, getRequestMessage, etc..)
2. Make the internal api of both modules consistent. The interfaces use different naming and could be unified more.

1. Should be fixed before the 0.3.0 release to make the proofs module really usable. 2. can be fixed

[2022-09-02 08:25] TimoGlastra commented on #1002
Small suggestion: make the default for `maximumMediatorReconnectionIntervalMs` either `Infinity` (harder in non JavaScript config with e.g. the rest so less prefered) or `undefined`. 0 feels hacky to me as 0 is a valid maximum (do not wait).

[2022-09-02 10:20] TimoGlastra opened #1007 "Support pagination and offset when querying records"
Don't think offset is supported by indy-sdk but should be by aries-askar. We need to provide Apis in the storage service (and in higher level APIs) to support pagination and offset when querying records. This will become more important, especially with server deployments

[2022-09-02 10:37] genaris commented on #1007
+1000 to this. Not only server but also in mobile deployments as well, as easily there could be thousands of records of single types, even filtered. For instance, if a wallet holds chat messages it's not convenient to load all of them and keep in React Native state (especially in low-end devices).

[2022-09-02 12:29] TimoGlastra opened #1008 "Allow to select ledger when writing an object to the ledger"
Currently the first ledger will always be used when writing an object to the ledger. It would be nice to select the ledger to use when writing objects to the ledger

This could be as simple as passing the pool id to the method, however a better approach would probably be to pass the did to use. This will remove the need for the publicDid property that we currently use (because you always pass it),

[2022-09-02 14:36] TimoGlastra opened #1009 "Add option to find pool/ledger associated with a did"
It would be great if we can find the pool/ledger assoaciated with a sov did. Currently we know internally which pool it is associated with, but don't expose that to the public API.

I think the best approach here is to expose the pool from the ledger service, but not from the ledger api. We add the ledger/pool to the dids module resolver metadata, and you can then just use `agent.dids.resolve` to

[2022-09-03 13:45] blu3beri commented on #1008
A good addition! 100% in favour of the second method with the proper way. Once full support for did:indy this would be a nice addition as well :).

[2022-09-05 15:26] jakubkoci opened #1010 "Mismatch of version in transaction author agreement and acceptance mechanisms response"
If agent’s config contains `version` 0.1, then `AuthorAgreement` contains `version` 2.0 which seems correct because `text` attribute contains “Transaction Author Agreement V2“ but `AcceptanceMechanisms` contains `version` 0.1. This fails with `CommonInvalidStructure` error, respective with “Calculated hash of concatenation `version` and `text` doesn't equal to passed `hash` value.” thrown by Indy

[2022-09-05 15:43] TimoGlastra commented on #1010
What's the difference between the acceptance mechanism version and the taa version?

[2022-09-06 08:05] niallshaw-absa opened #1012 "PoolConnect issue"
[code]

`this.ledger.connectToPools()` fails after shutting down agent/ initializing a second time.
IndyPool's `poolConnected` is never set to undefined (only on initial connect error), meaning even when the pool is closed, we can never reconnect.

[2022-09-06 09:45] #1012 closed

[2022-09-06 12:50] #1010 closed

[2022-09-06 22:18] swcurran opened #1015 "Extend the Aries Agent Test Harness AFJ Backchannel to support more tests"
Background: The Aries Agent Test Harness (AATH) contains a large number of Aries interop in the form of Behaviour Driven Development tests created based on the Aries RFCs.  The AATH [Aries Framework JavaScript Backchannel](https://github.com/hyperledger/aries-agent-test-harness/tree/main/aries-backchannels/javascript) is an implementation of an Aries Controller for an Aries Framework JavaScript in

[2022-09-08 11:27] Iskander508 opened #1018 "RN crash when an unexpected didcomm message arrives from a connection"
We've run into this case a few times with different didcomm messages, all ending up with an app crash.

The source of the problem is probably this root message handler:
https://github.com/hyperledger/aries-framework-javascript/blob/main/packages/core/src/agent/Agent.ts#L140
It doesn't handle properly the case when a particular message handler raises an exception.

* One example we can reproduce re

[2022-09-08 12:16] genaris commented on #1018
I'm wondering if this is actually an error or a feature :stuck_out_tongue:, as looking at the [Dispatcher code](https://github.com/hyperledger/aries-framework-javascript/blob/main/packages/core/src/agent/Dispatcher.ts#L68) I can see that the exception is actually handled and explicitly thrown.

Anyway, if this makes the framework to stop processing messages just for the reception of an unexpected

[2022-09-08 14:55] #1002 closed

[2022-09-09 06:48] #860 closed

[2022-09-09 12:55] TimoGlastra opened #1022 "Expose findByQuery methods in public API of all modules"
We want to expose some of the repository methods to the public api to allow better querying/updating support without needing to inject internal dependneices. A lot of modules already expose some repository methods (getAll, findById, etc..), but we should look to extend this.

This issue focuses on the findByQuery method, we should add it to all modules that expose a getAll method

[2022-09-09 22:59] genaris commented on #497
I'm having some headaches trying to find a proper way of implementing this while maintaining compatibility with older agents. IMHO, this did:key thing has introduced a breaking change in protocols but their version number is kept (and there is no new flag to explicitly indicate RFC 0360 support). And also it has been introduced some time before we implemented RFC 0211, so we can admit that our imp

[2022-09-09 23:29] swcurran commented on #497
I assume the breaking issue is when to send a key in `did:key` format. Presumably it is pretty easy to support to detect/use `did:key` when you receive it.  Has that been added to AFJ? However, when sending something, you can't be sure the other side has done even that much. Is that correct?

@ianco @andrewwhitehead @shaangill025 @dbluhm -- we've got to make sure we are doing the same things in AC

[2022-09-10 00:00] genaris commented on #497
Yes, exactly. My concern is mainly with old agents that might not interpret correctly the keys we are sending to them if they are did:key encoded.

For compatibility with ACA-Py, I guess we are mostly covered, as AFJ since 0.2.2 supports receiving both did:key or base58 keys in Coordinate Mediation protocol. However, there is a case where recipient might send a key to the mediator: Status and Deli

[2022-09-10 00:08] swcurran commented on #497
@shaangill025 -- could you put the request in the previous comment at the top of your list -- can ACA-Py handle receiving a `did:key` in the PickUp protocol (@dbluhm FYI).  Should be prioritized with the OOB work you are doing, and ahead of the AATH.  Thanks!

[2022-09-10 13:13] TimoGlastra commented on #497
I think we can do maybe 3 things (and start with a flag):
- if we receive a message with did:key, we respond with did:key
- add a flag that will now keep current behavior, in next major inverts current behavior and in some version in the future we remove it (just always send new, but keep supporting receiving old).
- once we have used did:key for a protocol we could store it in the record metadata

[2022-09-10 13:37] TimoGlastra opened #1023 "Move handler registration to the module class"
Should be done in 0.3.0 branch or main after it has been released.

By moving the handler registration to the module class we centralize module definition and we avoid the case where we need to inject some services just so they will register the handlers.

We do probably have to start using dependency injection for handlers, but that is doable.

Instead of doing dispatcher.registerHandler we now d

[2022-09-10 20:49] genaris commented on #923
So is there any clue about what the problem could be in CI with node 17/18? For development I'm using a x86_64 machine running Arch-based Linux (kernel 5.15.60) and all vc tests are passing. Also I've created a Dockerfile to replicate AFJ's CI setup (i.e. based in ubuntu-20.04 image and installing all dependencies) and it works fine as well.

[2022-09-10 23:34] genaris opened #1025 "'Socket is closed' when agent has no endpoint and uses WS"
After the fix #946, I noticed a problem when an agent does not have an endpoint (e.g. mobile agent not bound to a mediator yet) and uses WebSocket as outbound transport.

As expected, the socket is being closed when DID Exchange is completed, but if another message (e.g. request a credential or request mediation) is immediately sent to the newly created connection, message sender will fail with an

[2022-09-13 07:43] Yellowsun0003 opened #1026 "Is AFJ dependent on React Native and NodeJs?"
Are there any plans of making AFJ compatible with other frameworks apart from React Native and Node JS?  What if I have to use AFJ for an app developed with Angular framework. As per the document, it shows the React Native and Node JS as features of AFJ. So, the doubt comes now about compatibility with other features. There could be platform dependencies which are still not addressed and how that

[2022-09-13 07:50] Yellowsun0003 opened #1027 "Credential Offer using AFJ 2.0 doesn't contain the name of schema based on which it has been offered"
While we were using AFJ 1.0, we could offer credentials based on the schema and that could be seen clearly while accepting the offer. So, the user knew which set of credentials have been offered. But now, in AFJ 2.0, we are getting the word "Credential" instead of schema name "xxxx_Credential" for different schema offers.

Now the "CredentialRecord" has been replaced by "CredentialExchangeRecord"

[2022-09-13 10:14] blu3beri commented on #1026
Aries Framework JavaScript currently does not work in the browser. We are working in separating all the components so maybe in the near future it would be possible to have a minimal agent in the browser.

I have not tested it myself with Angular + Ionic for mobile development and it might be interesting to look at.

[2022-09-13 15:57] JamesKEbert commented on #1002
Sorry for jumping in a bit late, trying to catch up on things.

I agree that the current behavior isn't necessarily ideal, but if I recall correctly, one of the reasons we didn't do a say 10 second interval was that if the mediator is just offline or some more permanent issue, we didn't necessarily want to keep retrying for a long time. For instance, we may want to try to reconnect a maximum of 30

[2022-09-13 18:12] genaris commented on #1002
Yeah I think a maximum retry count might be useful in certain scenarios, although this should be accompanied by an event to inform the application when the framework has given up (then the app can  `initiateMessagePickup()` again anytime it wants, i.e. when user inputs or network connection is restored). These events are part of what I'm thinking for the refactor of mediation/pickup (as started in

[2022-09-13 23:13] JamesKEbert commented on #1002
Good point 👍

Awesome. Thanks for the work on this @genaris & @garretaserra (good GH issue too btw)

[2022-09-16 16:30] frostyfrog commented on #497
The way that this was implemented from within ACA-Py (as I recall) is that only the Coordinate Mediation protocol deals with did:key at this time. Originally, I had it handling did:key at the routing level, providing the capability for all protocols to use did:key. However, per @dbluhm's recommendation to follow the principle of least change, I limited the scope to just the coordinate mediation pr

[2022-09-17 09:20] TimoGlastra opened #1031 "Prevent double processing of messages"
When a message is received from the mediator, and we don't ack the message immediately (in pickup v2 protocol) and e.g. the app is closed, the mediator won't delete the message and will potentially redeliver the message. We should look at a way to keep track of processed messages and not process already processed messages.

Something like a log of processed messages could help here. This is only n

[2022-09-17 14:31] Zzocker commented on #1031
Another approach could be
- upon the recipient receiving `delivery` response from the mediator do not directly emit `AgentMessageReceivedEvent` [here](https://github.com/hyperledger/aries-framework-javascript/blob/c789081f932b28d08dc1cce147558149cb7abb55/packages/core/src/modules/routing/services/MediationRecipientService.ts#L288-L294), instead store those messages in memory (as a list of messages

[2022-09-18 14:46] TimoGlastra commented on #1027
Hi @Yellowsun0003,

The same data is still accessible in AFJ 0.2.0, however it is only added to the credential record after the offer has been accepted. Please see the following part of the migration guide on how to achieve the same in 0.2.0: https://aries.js.org/guides/updating/versions/0.1-to-0.2#data-from-received-messages-only-stored-in-record-after-accepting

[2022-09-20 20:15] #497 closed

[2022-09-20 21:14] #495 closed

[2022-09-21 09:22] TimoGlastra opened #1032 "Events should be serializable"
Events are currently interfaces, but often contain class instances. We should make sure events are serializable so we can create a generic webhook interface in the rest api

[2022-09-21 14:17] icc-romeu opened #1033 "Using AttributeValue for AttributeFilter fails"
Hi, I am using version 0.2.1 on React Native and I am trying to create a Proof that checks for a string value. So I wrote this:

[code]

This generates the following challenge:
[code]

And the libindy presentation is:

[code]

This fails with a `CommonInvalidStructure` when trying to fulfill the proof.

Reading the code at https://github.com/hyperledger/aries-framework-javascript/blob/36b9d466d400

[2022-09-22 08:54] TimoGlastra commented on #1033
Seems to be broken indeed. The `AttributeFilterTransformer` is never called somehow, and it seems the implementation is also broken.

Would you be willing to open a PR for this?

[2022-09-22 09:37] #997 closed

[2022-09-22 10:14] #996 closed

[2022-09-22 10:18] TimoGlastra commented on #1027
Closing this as there is a workaround and it is still possible in 0.2.0. Please open a new issue if you're still running into issues

[2022-09-22 10:18] #1027 closed

[2022-09-28 11:27] Artemkaaas opened #1038 "DIDComm V2 messaging support"
Hello, Team
You are doing really great job!
I see that the main direction of project evaluation is related DIDComm messaging of the first version.
Do you have any plans regarding moving to the [second version of DIDComm](https://identity.foundation/didcomm-messaging/spec/) or even to the third one?

For our project, we took the Aries Framework as the basis and implemented our custom protocols with

[2022-09-28 13:07] rodolfomiranda commented on #1038
Great job! Were you able to run the rust library in react native? Last week in the AFJ call we had a discussion about DIDComm v2 implementation. Your contribution is more than appreciated!.

[2022-09-28 13:54] Artemkaaas commented on #1038
@rodolfomiranda yes. here is [react-native package](https://github.com/sicpa-dlab/didcomm-react-native) working on both android and ios.

[2022-09-28 13:55] 2byrds commented on #1038
Yes, awesome work @Artemkaaas! Here are some [notes from that meeting last week](https://wiki.hyperledger.org/display/ARIES/2022-09-22+Aries+Framework+JS+Meeting+notes)
And we'd love to have you at the meeting this Thursday (i'm hosting and can put you at the top of the agenda, to discuss)

[2022-09-29 07:16] genaris commented on #1038
This is becoming a 'hot topic' within our community, as it took most of last week call and we were willing to continue the discussion 😄. There is a thread in [Discord channel](https://discord.com/channels/905194001349627914/1017036189016006716) as well. Different approaches are under analysis and of course one of them is about using SICPA library.

If i'm not wrong, one of the main concerns about

[2022-09-29 14:33] 2byrds commented on #1038
@TimoGlastra and @genaris please provide guidance for inclusion of this work in 0.3.0

[2022-09-29 14:44] blu3beri commented on #1038
I don't think it is a good idea for this to be included in 0.3.0. We can talk about it during the next next WG Call, but I think it should be when we modularised the framework.

[2022-09-30 10:08] TimoGlastra commented on #1038
We're really interested in a contribution of DIDComm v2! Not sure if we can make it in 0.3.0, as we want to get it released as soon as possible.

One thing I'm worried about is the conflicts that are between your fork and the current 0.3.0 branch. We've made A LOT of changes since (big architectural changes), and it seems you also made a lot of big architectural changes. Some points mentioned we h

[2022-10-01 10:10] teodem opened #1039 "macOS arm - missing symbol called"
Hello everyone

I am having great problems running the demo on my macOS with M1 (arm). The installation of the libraries was successful.
The problem is in the demo execution, after `yarn install` when I run `yarn alice` or `yarn faber` I get this error:

` dyld[42534]: missing symbol called
error Command failed with signal "SIGABRT".
info Visit https://yarnpkg.com/en/docs/cli/run for documentation

[2022-10-01 10:47] blu3beri commented on #1039
Hi!

Where on your system is libindy located? And could you run `file` on that? And also provide the output of `file $(which node)`?

[2022-10-01 12:06] teodem commented on #1039
Hi

the location (as reported by documentation) is: /usr/local/lib/

`file` result:
`libindy.dylib: Mach-O 64-bit dynamically linked shared library arm64`
and for the other:
`/Users/M/.nvm/versions/node/v18.10.0/bin/node: Mach-O 64-bit executable x86_64`

[2022-10-01 12:32] blu3beri commented on #1039
Okay, your node version is for x86_64 and not for ARM. You have to remove your node binary and reinstall but for ARM. This will likely fix the issue (after reinstalling you also have to reinstall the node_modules).

[2022-10-02 10:59] teodem commented on #1039
hello, yes. I tried to remove and install again, following this [https://stackoverflow.com/questions/65342769/install-node-on-m1-mac](url). If i run `node -p "process.arch` i still get `x64`, i really don't get why since i've re-installed the arm dedicated node. Also, i've removed all node_modules, but i still get the same error..

[2022-10-02 11:52] blu3beri commented on #1039
Did you remove all your x86 node versions? You might have multiple.

Running `which node` tells you where it is and `file PATH/TO/NODE` tells you the architecture. If node is arm and the libindy is arm everything should work.

[2022-10-02 15:13] teodem commented on #1039
Hi, thank you again for your support. Yes you were right, things got messed up, there was a node version installed via nvm and one via pkg, i cleaned all up and installed fresh for arm. Now, i've the proper result:

[code]
On the other and, the libindy in not working anymore. I've removed it and cleaned up, and tried the installation again. When i do the check command i get:

[code]
Thank you once

[2022-10-02 15:38] blu3beri commented on #1039
This error means removing your `node_modules` folder and running `yarn install` or `npm install`.

[2022-10-02 16:07] teodem commented on #1039
Problem solved. What i did:

- Removed all Node files, everything, in all folders and subfolder making sure that node was completely uninstalled
- Removed libindy and unistalled aries-framework/node
- Re-installed Node with brew (using arch)
- Re-installed libindy and aries-framework/node
Last but not least, a fresh restart of the Mac since yarn was not working anymore (with segmentation fault).

[2022-10-02 16:07] #1039 closed

[2022-10-06 15:57] TimoGlastra opened #1046 "We should throw an AriesFramework Error or BbsSignatures Error? How do we do the error class for modules? Always AriesFramework or does the module have a specific error class?"
We should throw an AriesFramework Error or BbsSignatures Error? How do we do the error class for modules? Always AriesFramework or does the module have a specific error class?

_Originally posted by @blu3beri in https://github.com/hyperledger/aries-framework-javascript/pull/1035#discussion_r980040237_

[2022-10-06 23:58] #1022 closed

[2022-10-07 11:55] #944 closed

[2022-10-07 11:55] #948 closed

[2022-10-07 23:12] alberto-instnt opened #1048 "AFJ in React Native mobile agent fails to connect to invitation"
Hello,
We've been running the mobile agent on RN and have been getting issues on the initial startup of the app. Seems like a connectivity issue. There is no `notificationRecord` or invitation after scanning QR code. The app stalls on the "This is taking longer than usual" message. In order to see the actual invitation you need to restart the app and only then will you see the actual notification.

[2022-10-08 10:01] TimoGlastra commented on #1048
Do you have logs of the agent? That'll help with debugging the issue!

[2022-10-08 12:05] alberto-instnt commented on #1048
![Screenshot_20221008-073713](https://user-images.githubusercontent.com/113043904/194705840-f0697773-1dac-410e-9bdc-98887ee77839.png)

### metro logs on first time startup
`b27ff2c944879d48aa2890\",\"from\":\"6feBTywcmJUriqqnGc1zSJ\",\"payloadDigest\":\"b9597e20b484f700011436a6c8b768918519980f808928de56b24225165e86e1\",\"reqId\":1558034149584193019},\"protocolVersion\":2,\"type\":\"0\"},\"txnMetad

[2022-10-15 21:00] alberto-instnt commented on #1048
@TimoGlastra did these logs help? It's hard to interpret exactly whats going on. Any updates would be nice. Thank you!

[2022-10-15 21:01] alberto-instnt commented on #1048
@TimoGlastra did these logs help? It's hard to interpret exactly whats going on. Any updates would be nice. Thank you

[2022-10-18 05:45] TimoGlastra opened #1053 "Do not log keys in the framework"
Since we moved the key representation to a `Key` instance we now log the whole key instance in some places in the framework, resulting in the attached logs below. We should not log the whole key, but rather a string representation of it (e.g. the fingerprint).

- [ ] Find out all places where key instances are logged
- [ ] Log a string representation in all places where the key is logged

[code]

[2022-10-18 05:51] TimoGlastra commented on #1048
Are you always sending a VC to the mobile agent directly after connecting?

Without the logs of the mediator it is hard to say what is going wrong here. You're sending the trust ping and don't receive anything after that it seems from the logs. That could be because the message is never sent, it is never received at the mediator, or the mediator doesn't forward it directly to the mobile agent.

I

[2022-10-18 11:31] TimoGlastra opened #1054 "rename module-bbs to bbs-signatures in packages directory"
package name has already been updated

[2022-10-18 13:45] alberto-instnt commented on #1048
@TimoGlastra Thank you for the response we really appreciate the feedback. As of today we are using Indicio mediator, which I believe is a public mediator and we currently don't have access to the logs. Do you know if there is a way to get access to the logs? Also for your question, i'm not sure on what you mean "after the response", i'm guessing you may be talking about the mediator side of thing

[2022-10-19 06:14] TimoGlastra commented on #992
That's an interesting way to get the credential you need!

I think yes, currently the flow doesn't take into account the implicit flow. What would be the easiest approach I think is to keep the `DidExchangeProtocol.createRequest` to need a out of band record, that we can create on the module layer beforehand. Another approach would be to create a `DidExchangeProtocol.createRequestFromDid` and `Con

[2022-10-19 14:38] rapaktech commented on #1008
@TimoGlastra someone seems to already be working on this. How do I proceed?

[2022-10-19 15:03] genaris commented on #992
Thanks for the explanation and suggestions @TimoGlastra ! I think it would be nice to support these implicit invitations from the module level in order to make it more evident for users how to handle both invitation types. I'll dig a bit more about the possibilities and open a PR including these public DID handling in DIDExchange protocol.

[2022-10-19 19:04] TimoGlastra commented on #1008
I don't think so, these messages are unrelated to this issue.

But this reminds me I still need to add some extra info to this issue 😁

[2022-10-19 19:28] genaris commented on #1048
@TimoGlastra does Animo have a public mediator based on AFJ? If that's the case, it could be useful to point the Mobile Agent there just to check if there is a kind of compatibility issue between AFJ and ACA-Py in this particular case.

[2022-10-20 06:08] TimoGlastra commented on #1048
Not at the moment, but it is on our todo list to host a public AFJ agent and mediator.

[2022-10-20 06:11] TimoGlastra commented on #1048
@alberto-instnt you can use this mediator to test it out and I can look at the logs for you: https://http.mediator.community.animo.id?c_i=eyJAdHlwZSI6ICJkaWQ6c292OkJ6Q2JzTlloTXJqSGlxWkRUVUFTSGc7c3BlYy9jb25uZWN0aW9ucy8xLjAvaW52aXRhdGlvbiIsICJAaWQiOiAiMTA0NjVkYmEtOWIyMi00NjA1LWJiMTktYjNkZWZkMGJjMTM2IiwgImxhYmVsIjogIkFuaW1vIENvbW11bml0eSBNZWRpYXRvciIsICJyZWNpcGllbnRLZXlzIjogWyJDRFhjUnpCekM2Ylltclc1a0

[2022-10-20 06:22] TimoGlastra opened #1055 "Update indy-sdk-react-native to 0.3.0 in 0.3.0-pre branch"
indy-sdk-react-native 0.3.0 has been release: https://github.com/hyperledger/indy-sdk-react-native/releases/tag/0.3.0.

Make sure to include a breaking change message in the PR body that mentions the updated installation instructions

[2022-10-20 06:23] TimoGlastra commented on #1055
Can you pick this up @JamesKEbert?

[2022-10-20 07:23] TimoGlastra opened #1056 "Remove ProofProtocolVersion enum in 0.3.0-pre"
As they are now dynamically registered, an enum doesn't work. This is also needed to make the credentials and proofs API consistent.

[2022-10-20 07:23] TimoGlastra commented on #1056
@NB-MikeRichardson is this something you can pick up as well?

[2022-10-20 07:34] JamesKEbert commented on #1055
Yep, I'll do this tomorrow 👍  (would you like @KolbyRKunz to update the aries.js.org docs too?)

[2022-10-20 07:46] NB-MikeRichardson commented on #1056
Sure. I can do that today.

I assume we just want to replace the enum with a string?? (which I think is what we do in the credentials module)

[2022-10-20 08:35] TimoGlastra commented on #1056
For the records, yes it can be a string. For other places it sometimes should be a dynamic type (but I think you already added that in the proofs api when you updated it to align with the credentials api).

We have the `ProtocolVersionType` in the `ProofsApiOptions`

[2022-10-20 08:37] TimoGlastra commented on #1056
Also, I just noticed the `requestProof` method doesn't specify the proof services, and proof formats, which removes the type hinting. Can you add it with the PR?

In `ProofsApi.ts`:
[code]

[2022-10-20 08:38] TimoGlastra opened #1058 "Rename ProofRecord to ProofExchangeRecord"
To be consistent with CredentialExchangeRecord change

[2022-10-20 08:40] NB-MikeRichardson commented on #1056
On it

[2022-10-20 08:43] #1054 closed

[2022-10-20 09:22] NB-MikeRichardson commented on #1056
Looks like the same issue with `proposeProof `as well. Will fix this too.

[2022-10-21 16:32] cvarjao opened #1063 "Replace indy sdk with indy vdr"
Indy VDR is replacing Indy SDK, does it have all the features needed for AFJ? can/should we start moving to VDR?

[2022-10-21 17:22] swcurran commented on #1063
To be a bit more precise, Indy SDK is being replaced by all three of [Indy VDR](https://github.com/hyperledger/indy-vdr) / [Indy Shared RS](https://github.com/hyperledger/indy-shared-rs) and [Aries Askar](https://github.com/bcgov/aries-askar).

[2022-10-21 18:01] blu3beri commented on #1063
Yes @swcurran is correct. Work was done and Askar and vdr are done. However credx is not done yet (very very close). However we did not have the time yet to fix it and integrate it into AFJ. When everything is modularised it should be easier to integrate so it might still take some time for full integration of the shared components.

[2022-10-23 15:12] 2byrds commented on #1038
@Artemkaaas we'd love for you to join the newly formed aries-didcomm-v2 channel as I'm trying to collects the threads regarding DIDComm v2 support in ACA-py and AFJ so that we can discuss how to push forward together and accelerate adoption https://discord.com/channels/905194001349627914/1032736844053483621

[2022-10-24 07:12] TimoGlastra opened #1065 "Remove @animo-id/react-native-bbs-signatures peer dependency from react native package"
It should just be listed in the installation instruction of the bbs package (which isn't released yet)

[2022-10-24 07:23] TimoGlastra opened #1066 "Remove dependency on indy ledger service from sov did resolver/registrar"
As part of making the framework more modular and less dependant on indy/indy-sdk we need to move away from the current ledger api / ledger service as they're heavily focused on indy/ the indy-sdk.

To make the transition easier we can already start by making some internal adjustments that will prepare for the transition to generic AnonCreds / did services. this means the ledger service will be rem

[2022-10-24 07:32] TimoGlastra opened #1067 "Allow to pass `indyNamespace` to `SovDidRegistrar` create method"
Currently, when writing a did using the `SovDidRegistrar`, we always take the first register indy ledger as the write ledger. If we allow to pass the indy

- add an optional `indyNamespace` string property to the `SovDidCreateOptions` interfac
- add a `getPoolForNamespace` to the `IndyPoolService` class that will return the `IndyPool` associated with a `indyNamespace` in the `IndyPoolConfig`. If n

[2022-10-24 07:36] TimoGlastra opened #1068 "action menu tests exceeded timeout of 5000ms"
What should be the default timeout for new modules? Maybe 20 seconds?

Should also apply this for other modules.

@genaris can you take a look at this issue?

[2022-10-24 12:18] NB-MikeRichardson commented on #1058
I can do this one once PR 1062 is merged

[2022-10-24 23:46] genaris commented on #1068
Based on what I've seen in previous OK and NOK CI runs, that default of 5000 ms is at the limit for E2E tests, so that would be the reason why it passes most of the times but not always. I think that 10000 should be enough, but 20000 will be safer.

In #1069 I've added this to action-menu and question-answer, which also failed a few times in the past. I did the same for tenants module, whose tests

[2022-10-25 08:24] #1056 closed

[2022-10-25 10:37] #1068 closed

[2022-10-25 12:57] TimoGlastra commented on #1055
Yes please!

[2022-10-25 12:57] TimoGlastra commented on #1055
Any update on this?

[2022-10-25 22:08] genaris opened #1072 "Ledger API registerCredentialDefinition behaviour when ledger or wallet are reset"
While adapting AATH for 0.3.0, I've [noticed](https://github.com/hyperledger/aries-agent-test-harness/blob/6620bcb0e48c5237e848df7d4638e64436ada222/aries-backchannels/javascript/server/src/controllers/CredentialDefinitionController.ts#L58) that there is a change in Ledger API's `registerCredentialDefinition` method internal behaviour that makes a bit difficult to manage the case where either agent

[2022-10-26 14:57] JamesKEbert opened #1074 "Remove Ack status type of FAIL"
According to a recent Aries RFC PR (https://github.com/hyperledger/aries-rfcs/pull/727), we should remove the status type of FAIL in Acks/AckMessage. It does not appear we are able to utilize this status anywhere in the framework.

[2022-10-27 14:42] #758 closed

[2022-10-27 14:42] TimoGlastra opened #1075 "Move proofs and ledger documentation to the documentation site"
Related to https://github.com/hyperledger/aries-framework-javascript/issues/1072

[2022-10-27 14:44] morrieinmaas commented on #1072
@TimoGlastra of course

[2022-10-27 16:19] #1065 closed

[2022-10-27 20:32] #1055 closed

[2022-10-28 07:11] NB-MikeRichardson opened #1078 "PPV2: Presentation Exchange Format Phase II"
The first (basic) implementation of presentation exchange format for present proof v2 has been implemented and appears to
provide full functionality according to the RFCs 0454 and RFC 0510

https://github.com/hyperledger/aries-rfcs/blob/main/features/0454-present-proof-v2/README.md
https://github.com/hyperledger/aries-rfcs/blob/main/features/0510-dif-pres-exch-attach/README.md

This is now submitt

[2022-10-31 10:20] TimoGlastra opened #1081 "Do not log the wallet key (or other sensitive information) to the console"
If we do log it, it should be trace.

Places:
- wallet key
- postgres storage data (also in walletConfig)

In production we should assume people run the framework with log level info. We should make sure to never logs really private data like keys (maybe in trace in exceptional cases), and otherwise we should only log data that could contain PII in debug/trace messaegs. Info, warning, error should

[2022-10-31 10:21] TimoGlastra commented on #1000
AFJ doesn't expose a webserver, I think this may be related to the Rest extension. Could you open an issue in the extensions repo? https://github.com/hyperledger/aries-framework-javascript-ext/

[2022-10-31 10:21] #1000 closed

[2022-10-31 10:21] #993 closed

[2022-10-31 10:22] #956 closed

[2022-10-31 10:22] #727 closed

[2022-10-31 10:22] #902 closed

[2022-10-31 10:23] #812 closed

[2022-11-02 10:27] x0axz commented on #713
We faced similar issue in React Native App with latest version of `indy-sdk-react-native` and still we get an error message `Presentation requests proof of non-revocation with an interval from: '${requestRevocationInterval.from}' that does not match the interval to: '${requestRevocationInterval.to}', as specified in Aries RFC 0441`.

[2022-11-02 10:54] x0axz commented on #713
We integrated the Aries React Native App with [aries-framework-dotnet](https://github.com/hyperledger/aries-framework-dotnet) for Issuer & Verifier and  [aries-mediator-service](https://github.com/hyperledger/aries-mediator-service) for Mediator, and we encountered a similar issue with the app with the most recent version of `indy-sdk-react-native`.
`Presentation requests proof of non-revocation w

[2022-11-06 10:09] sairanjit commented on #1066
@TimoGlastra Can you assign me this?

[2022-11-08 10:19] TimoGlastra opened #1087 "Remove PresentationExchangeRecord file"
https://github.com/hyperledger/aries-framework-javascript/blob/main/packages/core/src/modules/proofs/repository/PresentationExchangeRecord.ts

[2022-11-08 15:28] TimoGlastra opened #1088 "Define interfaces for Ledger Agnostic AnonCreds API in AFJ"
We need to define interface for the ledger agnostic anoncreds api / module in Aries Framework JavaScript

https://github.com/animo/anoncreds-interfaces

[2022-11-09 07:04] NB-MikeRichardson opened #1089 "Issue Credentials V2: JsonLd, post merge items"
Some comments from the PR were left in order to get the merge done for this work. They are listed here:

1. packages/core/src/modules/credentials/formats/jsonld/JsonLdCredentialFormat.ts
[code]
The acceptXXX methods can take the values from the previous message. So if I receive a proposal and I agree1.  with the contents of it, I call acceptProposal. What this will do is take the contents of the p

[2022-11-10 09:12] TimoGlastra commented on #992
@genaris are you still working on this?

[2022-11-10 09:26] #199 closed

[2022-11-10 09:27] #378 closed

[2022-11-10 09:27] #475 closed

[2022-11-10 09:28] #539 closed

[2022-11-10 09:29] #501 closed

[2022-11-10 09:46] blu3beri opened #1095 "AutoAcceptProof.ContentApproved on latest AFJ works incorrectly"
Running the `demo/` on main right now issues a credential and that all works fine. However, when requesting a proof, `Alice` automatically send a response to this proof while `autoAcceptProof` is on `AutoAcceptProof.ContentApproved` which MUST require one manual acceptance step. I will see if I can find the issue, but this should not be used in production as any agent with this setting on will aut

[2022-11-10 09:47] Vickysomtee commented on #1053
Yes @TimoGlastra

[2022-11-10 10:01] TimoGlastra commented on #1095
With latest AFJ do you mean 0.2.5 or 0.3.0-alpha?

[2022-11-10 10:02] blu3beri commented on #1095
It just takes AFJ from main I assume with `"@aries-framework/core": "*"` as dependency, so I assume its 0.3.0-alpha.13

[2022-11-10 10:15] genaris commented on #992
Slowly but yes!

[2022-11-10 10:35] TimoGlastra commented on #1095
Ok! Please let me know if you can find the issue. Seems problematic

[2022-11-10 17:50] genaris commented on #1095
I confirm this is happening on current 0.3.0-alpha. I'm using V1 protocol and doing a proof request from verifier side (no previous proposal). My understanding is that in such scenario `shouldAutoRespondToRequest` would always return false, so wouldn't do the presentation automatically.

[2022-11-11 07:08] NB-MikeRichardson commented on #1089
Also, we should not be importing BbsModule into the core package (see helper.ts).

Not sure how to get round this one. Do we need to move some agent set up code out of this package into the bbs-signatures package? That would still leave a dependency on the bbs-signature package though...:-(

[2022-11-11 20:07] #1066 closed

[2022-11-11 20:07] #1067 closed

[2022-11-14 09:35] TimoGlastra commented on #1074
@rapaktech  Remove the `AckStatus` of type `FAIL` from the `AckMessage.ts` file

[2022-11-14 09:39] TimoGlastra commented on #1087
@rapaktech just remove the file 😆

[2022-11-14 13:49] TimoGlastra opened #1097 "JSON-LD Tests should use local jsonld loader"
We don't want tests to depend on internet connectivity. The w3c credential service already depend on the local jsonld loader, but it seems the new jsonld credential format service don't.

[2022-11-14 13:49] TimoGlastra commented on #1097
@NB-MikeRichardson is this something you could pick up?

[2022-11-14 13:50] NB-MikeRichardson commented on #1097
Sure. I can do that.

[2022-11-14 13:51] NB-MikeRichardson commented on #1097
Should we just add this to the list of items in issue #1089

[2022-11-14 14:06] NB-MikeRichardson commented on #1097
Actually I think just leave this issue as it is: I'll do this one first and get a PR in for this issue only.

[2022-11-14 17:21] rapaktech commented on #1087
You got it. You haven't assigned me the issue tho 😉

[2022-11-15 07:15] NB-MikeRichardson commented on #1097
If I run the w3cCredentialService tests (in modules/vc/__tests__/W3cCredentialService.test.ts) with my internet connection turned off I get the` jsonld.invalidUrl` error so I am not sure what I am trying to achieve with this issue.

[2022-11-15 08:32] NB-MikeRichardson commented on #1097
It looks like the custom loader has a call to jsonld.frame for did: URLs :-

[code]
This code (deep inside the digital credentials library is resolving a context by going across the internet).

I tested by bypassing this code and hard-wiring the result and it works.

Not sure what is wrong with the above: I shall see if i can find out.

[2022-11-15 08:39] TimoGlastra commented on #1087
Can't assign you until you've commented on the issue sadly 🤷

[2022-11-15 09:08] rapaktech commented on #1081
Okay. On it

[2022-11-15 09:08] rapaktech commented on #1074
On it

[2022-11-15 09:39] TimoGlastra opened #1100 "Create CheqdSdkDidResolver in AFJ"
Create a `CheqdSdkDidResolver` that implements the `DidResolver` interface from AFJ.

## Code Example

[code]

## Todo

- [ ] Create `CheqdSdkDidResolver` class and export it from a custom cheqd package
- [ ] Make sure it works in React Native!

## Questions

- [ ] Should all cheqd sdk related items be added to a single package (something `@aries-framework/cheqd-sdk`) or should we group it by feat

[2022-11-15 09:40] TimoGlastra opened #1101 "Create CheqdSdkDidRegistrar in AFJ"
Create a `CheqdSdkDidRegistrar` that implements the `DidRegistrar` interface from AFJ.

See https://github.com/hyperledger/aries-framework-javascript/issues/1100 for general context

## Todo

- [ ] Create `CheqdSdkDidRegistrar` class and export it from a custom cheqd package
- [ ] Make sure it works in React Native!

## Questions

See questions from  https://github.com/hyperledger/aries-framework-

[2022-11-15 09:51] TimoGlastra opened #1102 "Create an `@aries-framework/anoncreds` package that exports the AnonCreds interfaces"
We want to extract the AnonCreds logic out of AFJ core and rearchitecture it work with any ledger type and identifier.  The [anoncreds-interfaces](https://github.com/animo/anoncreds-interfaces/) repo contains interfaces for the AnonCreds api and services.

This issues focusses on creating a library of interfaces for AnonCreds support in AFJ.

- [x] Create a new `@aries-framework/anoncreds` package

[2022-11-15 10:00] TimoGlastra opened #1103 "Implement the AnonCreds interfaces for indy sdk in separate package"
With the interfaces in https://github.com/hyperledger/aries-framework-javascript/issues/1102 being defined and exported we can start implementing the services for the indy sdk.

- [x] Implement the `AnonCredsIssuerService`, `AnonCredsVerifierService`, `AnonCredsHolderService` interfaces from the anoncreds package for the indy-sdk . This can be mostly taken from the current Indy(Issuer|Holder|Verif

[2022-11-15 10:00] TimoGlastra opened #1104 "Create @aries-framework/indy-sdk package"
As part of the modularization and allowing to use different dependencies than the indy-sdk, we need to extract the indy-sdk specific code out of the framework.

All code that is directly dependant on the indy-sdk should be added to a new `@aries-framework/indy-sdk` package.

- [x] Copy `IndySdkSovDidRegistrar` from `core` into the `indy-sdk` package
- [x] Copy `IndySdkSovDidResolver` from `core` i

[2022-11-16 00:10] karimStekelenburg opened #1106 "Copy `IndyStorageService` from `core` into the `indy-sdk` package and rename to `IndySdkStorageService` (and also take the IndyPool-related logic)"

[2022-11-16 00:10] #1106 closed

[2022-11-16 10:32] rapaktech commented on #1087
@TimoGlastra we can close this now

[2022-11-16 11:06] #1087 closed

[2022-11-17 11:44] #1074 closed

[2022-11-17 12:42] TimoGlastra opened #1108 "Create IndyVdrPoolService in AFJ"
Create an `IndyVdrPoolService` using the indy-vdr library that can be used to write and read objects from the ledger.

## Create the `@aries-framework/indy-vdr` package

As the Indy VDR code will be hosted outside of the AFJ core package we need to create a new indy-vdr package first.

General steps to create a new pacakge:
1. Copy an existing 'simple' package (e.g. action-menu) protocol.
2. Renam

[2022-11-17 15:26] TimoGlastra commented on #1095
@blu3beri any updates on this?

[2022-11-17 18:34] jleach opened #1109 "Export metadata keys that the get fn can work with"
When fetching the legacy did the `get` fn below needs a key. Its not exported by AFJ so it needs to be looked and passed in. Would be handy to export it as an enum or similar.

[code]

[2022-11-18 17:35] amanji opened #1110 "`connectToIndyLedgersOnStartup` option does not `await` for ledger connections to complete"
Currently, when the `connectToIndyLedgersOnStartup` option is provided to the agent initialization config, ledger connections are kicked off sequentially, but are not `await`ed on for completion. As a results ledger pools may not be fully configured by the time the agent has initialized and can lead to errors thrown when trying to complete ledger-dependent operations such as Credential Exchange, e

[2022-11-18 20:29] JamesKEbert commented on #1110
Quick thoughts:

Based off of how the ledger services are set up, if the ledger hasn't yet been resolved (and is needed for an operation such as credential issuance), it _should_ wait for the resolution of the promises of the ledgers.
If we add an await in the agent initialization, then the agent initialization will block until **all** ledgers are loaded, which can result in 5-30 seconds wait time

[2022-11-21 10:04] NB-MikeRichardson opened #1111 "W3cCredentialService Custom Document Loader does not work when no Internet -> e2e Tests Fail"
If I run the w3cCredentialService tests (in modules/vc/____tests____/W3cCredentialService.test.ts) with my internet connection turned off most of the tests fail (with the invalid URL error that you get when it cannot resolve an external uri).

See the custom document loader in packages/core/src/modules/vc/__tests__/documentLoader.ts

The custom loader has a call to jsonld.frame for **did**: URLs :

[2022-11-22 17:22] amanji commented on #1110
I wonder if we could introduce an `enum` here with the option for:
1. Don't connect on startup
2. Connect on startup but don't await
3. Connect on startup and await

[2022-11-23 05:05] TimoGlastra opened #1114 "remove `proofRequest` property from proofFormats.indy type"
It's duplicate with the properties already available in the interface

[2022-11-23 06:43] tipusingh commented on #1114
Hi @TimoGlastra can you please assign me this issue?

[2022-11-23 08:05] TimoGlastra commented on #1114
Sure thing!

[2022-11-23 08:34] rapaktech commented on #1081
@TimoGlastra I think we can close this now?

[2022-11-23 08:51] #1081 closed

[2022-11-23 09:28] Vickysomtee commented on #1108
@TimoGlastra were you intentional about the code below cus' I assume it is supposed to be an import instead of a require?

`try {
  require("indy-vdr-test-nodejs");
} catch (error) {
  throw new Error("Error registering nodejs bindings for Indy VDR");
}`

[2022-11-23 10:10] TimoGlastra commented on #1108
I don't think you can do conditional imports as we'rs using node modules. So using require is sort of an hack

[2022-11-23 10:11] NB-MikeRichardson commented on #1097
There is an issue (Issue #1111 ) which documents the problem with the loader

[2022-11-23 14:12] blu3beri commented on #1095
Small tl;dr here of what happened. The implementation seemed correct, but it returned a `boolean | Promise<boolean>` and it actually was just a `Promise<boolean> which we did not await. So it would check and return `false` but wrapped inside a Promise which is truthy.

We need more eslint rules to catch these things (you MUST mark async code with void / await) 👀

[2022-11-24 10:03] teodem opened #1117 "Type 'Agent' is missing the following properties from type 'Agent'"
When running the server for the agent, i get this error:

[code]

I've already cleaned up the node_modules folder, and did a new clean installation. Libindy etc are all installed already.
[Link](https://github.com/animo/simple-demo/blob/913f09cb049baa5345ddd14bfafd55f742e65014/server/src/index.ts#L68) to repository i'm working with (for reference).

[2022-11-24 10:09] TimoGlastra commented on #1117
The issue here is almost always that you have multiple versions of AFJ installed which conflict. Make sure that the version AFJ Rest needs aligns with the version you have installed.

Can you share your yarn.lock file?

Also the simple demo is still on an alpha version of AFJ 0.1.0, so pretty dated

[2022-11-24 10:14] teodem commented on #1117
Oh oki i see.. That's the yarn.lock file for the server part:
`
# THIS IS AN AUTOGENERATED FILE. DO NOT EDIT THIS FILE DIRECTLY.
# yarn lockfile v1

"@aries-framework/core@^0.2.3", "@aries-framework/core@0.2.5":
  "integrity" "sha512-UQ5DFSpLrm2TlkFVl8Bufy55RoY+AeP1rOo8Yu7UfU6sjX2qhbqztdVAMocUnwgQny7e7o9p27bL9RItcgAwGA=="
  "resolved" "https://registry.npmjs.org/@aries-framework/core/-/core-0.2.5.

[2022-11-24 19:18] teodem commented on #1117
Maybe as reference, the result of `npm list` in this specific location is:
[code]

[2022-11-25 05:32] TimoGlastra commented on #1117
From the yarn.lock it seems you also have installed AFJ 0.2.5. Can you find all places that add a dependnecy on @aries-framework/core? There's somehow multiple versions installed and you need to get it back to one

[2022-11-25 09:25] teodem commented on #1117
<img width="498" alt="Screenshot 2022-11-25 at 10 25 48" src="https://user-images.githubusercontent.com/19976303/203946330-8a74b3e1-3c7e-46ab-85cf-d2765a07d3c6.png">

[2022-11-25 09:26] teodem commented on #1117
So how to "select" the correct AFJ version? :)

[2022-11-27 11:08] teodem commented on #1117
I've a separate repo where everything is working fine with this setup:
[code]
Interestingly enough, if i pick up the same version for Aries REST in this new repo, i get:
[code]
The problem is that if i use `force` or `legacy-peer-deps` it uses then `@aries-framework/rest@0.9.4` which is not compatible here.
I understand i should upgrade to newer AFJ, but this is actually a demo for a dissertation

[2022-11-28 16:16] TimoGlastra commented on #1108
@Vickysomtee updated the issue with more details and also made an amendment to a previous step. First it mentioned _submitWriteRequest should call `pool.submitAction`_, but that should actually be  _submitWriteRequest should call `pool.submitRequest` `

[2022-11-28 17:52] karimStekelenburg opened #1123 "Create AnonCreds service that can handle multiple AnonCredsRegistries"
### Description
One of the things we're building into AFJ is the ability to talk to multiple ledgers. In the architecture we're building (as depicted in the image below), we separate the credential format-related logic (orange box) from the logic that deals with communication to the ledgers (red box). Connection management and ledger communication are handled by implementations of the `AnonCredsRe

[2022-11-28 18:08] karimStekelenburg opened #1124 "Create AnonCredsApi that uses the AnonCreds service and registires to write/read anoncreds objects"
### Description
The `AnonCredsApi` is the public API of the `anoncreds` module. The public methods of the `AnonCredsApi` will be exposed to the user through `agent.anoncreds.*`.

The `AnonCredsApi` will replace the current [`LedgerModule`](https://github.com/hyperledger/aries-framework-javascript/blob/main/packages/core/src/modules/ledger/LedgerModule.ts) and will have similar functionality. The `

[2022-11-28 18:38] karimStekelenburg opened #1125 "Remove indy-sdk from core"
### Description
One of the things we're trying to achieve is to remove the dependency on the `indy-sdk` Rust library. Instead, the `indy-sdk` related logic will be handled by a set of new components that rely on the newer `indy-vdr`, `aries-askar`, and `anoncreds-rs` Rust libraries. These components should have been finalized in the preceding tasks.

There is a difference, however. Currently, the

[2022-11-29 02:55] TimoGlastra commented on #1125
One addition to this is that we import types from the 'indy-sdk' in quite some places. All types that we need from the indy-sdk should probably just be copied to AFJ and the related packages (I think the AnonCreds related types are already mostly copied in the anoncreds interfaces)

[2022-11-29 02:57] TimoGlastra commented on #1124
Link to AnonCredsApi interfaces: https://github.com/animo/anoncreds-interfaces/blob/main/src/AnonCredsApi.ts

Not finished yet, but will be updated soon.

[2022-11-29 03:05] TimoGlastra commented on #1123
I think for the second approach we could move it up even more by making the AnonCreds service more an AnonCredsRegistryService (like we have the IndyPoolService) and only let it manage the registires. The code in the API will then look something like:

[code]

Just posting it here for comparison. I don't have strong preferences. But we should probably look at what the purpose of each service is. I

[2022-11-29 08:13] TimoGlastra opened #1126 "jsonld format service interfaces should take JSON credential instead of instance of W3cCredential"
It's easier to work with the API if you can just pass the JSON of a credential instead of an instance of w3c Credential.

e..g for the createOffer method `credentialFormats.jsonld.credential. But this also applies to the other methods.

With the indy api we updated everything to take interafces / plain json over class instances and it makes working with the API (And also creating the rest wrapper)

[2022-11-29 08:13] TimoGlastra commented on #1126
@NB-MikeRichardson is this something you can pick up?

[2022-11-29 08:33] NB-MikeRichardson commented on #1126
Sure. Assign it to me.

[2022-11-29 08:36] TimoGlastra opened #1127 "Not using transformed credential in jsonld credential format service"
If I create a jsonld offer like this:

[code]

it will actually encode the format attachment data as:

[code]

This should be encoded as a VC (so `@context` instead of context, etc..). This is probably because the payload isn't being transformed to JSON...

[2022-11-29 08:36] TimoGlastra commented on #1127
@NB-MikeRichardson

[2022-11-29 09:17] TimoGlastra commented on #1104
This is actually not possible due to cyclical dependencies (core -> indy-sdk -> core -> indy-sdk -> etc...)

[2022-11-29 09:59] TimoGlastra opened #1128 "Finish the AnonCreds Api interface"
1. [x] Finish https://github.com/animo/anoncreds-interfaces/blob/main/src/AnonCredsApi.ts
2. [x] Add TODO methods
3. [ ] ~~Add methods related to revocation (revokeCredential mostly)~~ (postponed for now)

[2022-11-29 09:59] TimoGlastra commented on #1124
Also depends on: https://github.com/hyperledger/aries-framework-javascript/issues/1128

[2022-11-29 10:12] conanoc opened #1129 "Cannot process RequestCredentialMessage for the OOB attached credential-offer"
Test scenario:
1. Faber creates an credential-offer-message and creates an oob with it.
[code]
2. Alice receives the invitation.
2.1 Alice makes a connection with Faber
2.2 After the connection, Alice sends request-credential-message to Faber
3. Faber fails to process the request-credential-message because:
    - Faber tries to find credentialRecord with connection id [here](https://github.com/hyp

[2022-11-29 10:19] TimoGlastra opened #1130 "Update the IndyCredentialFormatService and IndyProofFormatServices to use the AnonCreds interfaces"
We need to update all the places where we call the Indy(Issuer|Holder|Verifier|Revocation) services.

This needs the AnonCredsRegistryService, and at least one (prob. the indy-sdk) implementation of the AnonCreds services.

### TODO

- [ ] Find all places that use one of the legacy indy services related to AnonCreds or the ledger and update it to use the new interfaes.
  - At least the IndyCredent

[2022-11-29 14:08] TimoGlastra commented on #1108
Both should call submitRequest. submitAction is used for some specific calls that we aren't using

[2022-11-30 09:00] TimoGlastra opened #1132 "jsonld credential should be verified before storing"
This way we make sure the credential is valid before we store it. This would have prevented #1127.

Either in `JsonLdCredentialFormatService.processCredential` before we call `w3cCredentialService.storeCredential` OR we do it inside the `w3cCredentialService.storeCredential` method.

Any thoughts? Doing it in the `storeCredential` method makes sure it is not possible to store an invalid credential

[2022-11-30 09:01] TimoGlastra commented on #1132
@NB-MikeRichardson as you wrote the `JsonLdCredentialFormatService` and  @karimStekelenburg as you wrote the `W3cCredentialService`, where do you think the verification should happen?

[2022-11-30 09:09] TimoGlastra commented on #1129
Yep seems like a bug. If we query without the connectionId we should then afterwards make sense there is no connectionId OR the connectionId matches (to prevent hijacking a credential exchange based on threadId).

Even beter would probalbly be to also look at the outOfBand record that is present in the inbound message context and see if the thread id matches one of the message in the oob invitatio

[2022-11-30 12:02] oadamovskyi opened #1133 "AriesFrameworkError: Proof record is in invalid state done. Valid states are: request-received."
Hello
Running **./demo** and getting this error after Faber Requesting a Proof (previously Offered Credential and accepted it as Alice) and Alice make following decision `Proof request received, do you want to accept it? yes`